<div class="modal fade" tabindex="-1" role="dialog" id="team">
    <div class="container">
        <button type="button" class="btn close" data-dismiss="modal" aria-label="Close"><span class="icon-bar"></span><span class="icon-bar"></span></button>
    </div>
    <div class="modal-dialog" role="document">
        <div class="modal-team">
            <div class="modal-team-content">
                <div class="modal-team-content-image">
                    <div class="image"><img src="images/team/manuella.png" alt=""></div>
                </div>
                <div class="modal-team-content-text">
                    <div class="name"><h2>Manuela Sedvartaite</h2></div>
                    <div class="position">Co-founder, Strategy & Marketing</div>
                    <div class="text">
                        Manuela brings her creativity and digital marketing experience to the financial technology industry, providing product and development strategy for the team. She combines her diverse experience, that ranges from robotics process automation to Big 4 auditing, with a profound understanding of the recent trends in the blockchain industry. Manuela has strong business intuition, which makes her the right person to lead SociumTrade into the future.
                    </div>
                    <div class="links">
                        <a href="#"><i class="icon icon-in"></i> Linkedin</a>
                        <a href="#"><i class="icon icon-fb"></i> Facebook</a>
                    </div>
                </div>
            </div>

        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->