<div class="modal fade" tabindex="-1" role="dialog" id="product">
    <div class="container">
        <button type="button" class="btn close" data-dismiss="modal" aria-label="Close"><span class="icon-bar"></span><span class="icon-bar"></span></button>
    </div>
    <div class="modal-dialog modal-md" role="document">
        <div class="modal-content">
            <div class="modal-body">
                <div class="title">
                    <img src="images/products/product-exchange.svg" alt="">
                    <h2>Exchange</h2>
                </div>
                <div class="text">
                    <p>We are developing a highly-efficient, multifunctional, and safe exchange. Try our exchange to fully enjoy all of its advantages.</p>
                    <p>
                        Socium Gift is a boon for those who like to give and receive useful presents. This instrument will suit the companies who want to spread tokens quickly, improve brand-awareness, and boost clients’ loyalty.
                    </p>
                </div>
            </div>
            <div class="modal-form-blue">
                <div class="title"><h2>Don’t miss the launch Socium Gift!</h2></div>
                <div class="text">
                    We will let you know when we are ready to launch, so that you can be among the first to reap the benefits!
                </div>
                {% include "blocks/subscribe/_form.html" %}
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->