<div class="modal fade" tabindex="-1" role="dialog" id="subscribe">
    <div class="container">
        <button type="button" class="btn close" data-dismiss="modal" aria-label="Close"><span class="icon-bar"></span><span class="icon-bar"></span></button>
    </div>
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-body">
                <div class="modal-body-form">
                    <div class="section-text">
                        <div class="image"><img src="images/email.svg" alt=""></div>
                        <div class="title"><h2>Get the latest news!</h2></div>
                        <div class="text">
                            We will let you know when we are ready to launch,
                            so that you can be among the first to reap the benefits!
                        </div>
                    </div>
                    {% include "blocks/subscribe/_form.html" %}
                </div>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->