<ul class="nav">
    <li>
        <a class="toggle-nav">About us <i class="icon icon-arrow-down"></i></a>
        <div class="nav-children">
            <div class="nav-children_item">
                <div class="item">
                    <a href="about.html">Vision & Mission</a>
                    <a href="products.html">Products</a>
                    <a href="about.html">Roadmap</a>
                </div>
                <div class="item">
                    <a href="about.html">Team</a>
                    <a href="careers.html">Career</a>
                    <a href="contact.html">Contact us</a>
                </div>
            </div>
        </div>
    </li>
    <!--<li><a href="whitepaper.pdf" target="_blank">Whitepaper</a></li>-->
    <!--<li><a href="products.html">Products</a></li>-->
    <li><a href="traders.html">For traders</a></li>
    <li><a href="investors.html">For investors</a></li>
    <li><a href="faq.html">FAQ</a></li>
    <li><a href="blog.html">Blog</a></li>
    <!--<li><a href="contact.html">Contact us</a></li>-->
</ul>