<section class="section section-team" data-midnight="dark">
  <div class="container">
    <div class="section-team-text">
      <div class="title">
        <h2 data-aos="fade">Meet our team</h2>
      </div>
      <div class="text" data-aos="fade-up">
        Meet the team of professionals that is developing SociumTrade
      </div>
    </div>
    <div class="section-team-list-founders">
      <div class="section-team-name">Founders</div>
      <div class="section-team-list">
        <a class="section-team-item" data-toggle="modal" data-target="#team"  data-aos="fade-up" >
          <div class="image"><img src="images/team/manuella.png" alt="">
            <div class="more"><span class="link link-more white">Learn more</span></div>
          </div>
          <!--<div class="links">-->
          <!--<a href="#"><i class="icon icon-in"></i></a>-->
          <!--<a href="#"><i class="icon icon-fb"></i></a>-->
          <!--</div>-->
          <div class="name">Manuela Sedvartaite</div>
          <div class="text">
            Co-founder
            Strategy & Marketing
          </div>
        </a>
        <div class="section-team-item"   data-aos="fade-up" >
          <div class="image"><img src="images/team/sergeev.png" alt=""></div>
          <div class="name">Denis Sergeev</div>
          <div class="text">
            Co-Founder
            & Product Owner

          </div>
        </div>
        <div class="section-team-item"  data-aos="fade-up" >
          <div class="image"><img src="images/team/ilyaabugov.png" alt=""></div>
          <div class="name">Ilya Abugov</div>
          <div class="text">
            CIO, Analytics & Fintech

          </div>
        </div>
      </div>
    </div>
    <div class="section-team-list-members">
      <div class="section-team-name">Key members</div>
      <div class="section-team-list">


        <div class="section-team-item"  data-aos="fade-up" >
          <div class="image"><img src="images/team/shinkevich.png" alt=""></div>
          <div class="name">Alexey Shinkevich</div>
          <div class="text">
            Chief Technology Officer

          </div>
        </div>
        <div class="section-team-item"  data-aos="fade-up" >
          <div class="image"><img src="images/team/savchenkov.png" alt=""></div>
          <div class="name">Alex Savchenkov</div>
          <div class="text">
            Architect & Security Expert
          </div>
        </div>
        <div class="section-team-item"  data-aos="fade-up" >
          <div class="image"><img src="images/team/danich.png" alt=""></div>
          <div class="name">Igor Danich
          </div>
          <div class="text">
            Lead Mobile Engineer

          </div>
        </div>
      </div>
    </div>
    <div class="section-team-list-advisors">
      <div class="section-team-name">Advisors</div>
      <div class="section-team-list">
        <div class="section-team-item"  data-aos="fade-up" >
          <div class="image"><img src="images/team/shinkevich.png" alt=""></div>
          <div class="name">Alexey Shinkevich</div>
          <div class="text">
            Chief Technology Officer

          </div>
        </div>
        <div class="section-team-item"  data-aos="fade-up" >
          <div class="image"><img src="images/team/savchenkov.png" alt=""></div>
          <div class="name">Alex Savchenkov</div>
          <div class="text">
            Architect & Security Expert
          </div>
        </div>
        <div class="section-team-item"  data-aos="fade-up" >
          <div class="image"><img src="images/team/danich.png" alt=""></div>
          <div class="name">Igor Danich
          </div>
          <div class="text">
            Lead Mobile Engineer

          </div>
        </div>
        <div class="section-team-item"  data-aos="fade-up" >
          <div class="image"><img src="images/team/paliashchuk.png" alt=""></div>
          <div class="name">Arthur Paliashchuk
          </div>
          <div class="text">
            Architect & Lead Software Multi-Stack Engineer

          </div>
        </div>

        <div class="section-team-item"  data-aos="fade-up" >
          <div class="image"><img src="images/team/sedluho.png" alt=""></div>
          <div class="name">
            Vladimir Sedluho

          </div>
          <div class="text">
            Lead UX/UI Designer
            UX Expert

          </div>
        </div>
        <div class="section-team-item"  data-aos="fade-up" >
          <div class="image"><img src="images/team/kireeva.png" alt=""></div>
          <div class="name">Valeriya Kireeva
          </div>
          <div class="text">
            Business Development Manager: Client Relations
            & Sales
          </div>
        </div>
        <div class="section-team-item"  data-aos="fade-up" >
          <div class="image"><img src="images/team/makolskaya.png" alt=""></div>
          <div class="name">Darya Makolskaya
          </div>
          <div class="text">
            Lead Quality Assurance Manager
          </div>
        </div>
        <div class="section-team-item"  data-aos="fade-up" >
          <div class="image"><img src="images/team/shalypina.png" alt=""></div>
          <div class="name">Tatsiana Shalypina
          </div>
          <div class="text">
            Project Manager

          </div>
        </div>
      </div>
    </div>
    <div class="section-team-list-seniors">
      <div class="section-team-name">Seniors</div>
      <div class="section-team-list">


        <div class="section-team-item"  data-aos="fade-up" >
          <div class="image"><img src="images/team/shinkevich.png" alt=""></div>
          <div class="name">Alexey Shinkevich</div>
          <div class="text">
            Chief Technology Officer

          </div>
        </div>
        <div class="section-team-item"  data-aos="fade-up" >
          <div class="image"><img src="images/team/savchenkov.png" alt=""></div>
          <div class="name">Alex Savchenkov</div>
          <div class="text">
            Architect & Security Expert
          </div>
        </div>
        <div class="section-team-item"  data-aos="fade-up" >
          <div class="image"><img src="images/team/danich.png" alt=""></div>
          <div class="name">Igor Danich
          </div>
          <div class="text">
            Lead Mobile Engineer

          </div>
        </div>
        <div class="section-team-item"  data-aos="fade-up" >
          <div class="image"><img src="images/team/paliashchuk.png" alt=""></div>
          <div class="name">Arthur Paliashchuk
          </div>
          <div class="text">
            Architect & Lead Software Multi-Stack Engineer

          </div>
        </div>
        <div class="section-team-item"  data-aos="fade-up" >
          <div class="image"><img src="images/team/sedluho.png" alt=""></div>
          <div class="name">
            Vladimir Sedluho

          </div>
          <div class="text">
            Lead UX/UI Designer
            UX Expert

          </div>
        </div>
        <div class="section-team-item"  data-aos="fade-up" >
          <div class="image"><img src="images/team/kireeva.png" alt=""></div>
          <div class="name">Valeriya Kireeva
          </div>
          <div class="text">
            Business Development Manager: Client Relations
            & Sales
          </div>
        </div>
        <div class="section-team-item"  data-aos="fade-up" >
          <div class="image"><img src="images/team/makolskaya.png" alt=""></div>
          <div class="name">Darya Makolskaya
          </div>
          <div class="text">
            Lead Quality Assurance Manager
          </div>
        </div>
        <div class="section-team-item"  data-aos="fade-up" >
          <div class="image"><img src="images/team/shalypina.png" alt=""></div>
          <div class="name">Tatsiana Shalypina
          </div>
          <div class="text">
            Project Manager

          </div>
        </div>
      </div>
    </div>
    <div class="section-team-list-team">
      <div class="section-team-name">Team</div>
      <div class="section-team-list">
        <div class="section-team-item"  data-aos="fade-up" >
          <div class="image"><img src="images/team/kireeva.png" alt=""></div>
          <div class="name">Valeriya Kireeva
          </div>
          <div class="text">
            Business Development Manager: Client Relations
            & Sales
          </div>
        </div>
        <div class="section-team-item"  data-aos="fade-up" >
          <div class="image"><img src="images/team/makolskaya.png" alt=""></div>
          <div class="name">Darya Makolskaya
          </div>
          <div class="text">
            Lead Quality Assurance Manager
          </div>
        </div>
        <div class="section-team-item"  data-aos="fade-up" >
          <div class="image"><img src="images/team/shalypina.png" alt=""></div>
          <div class="name">Tatsiana Shalypina
          </div>
          <div class="text">
            Project Manager

          </div>
        </div>
      </div>
    </div>
  </div>
</section>

