<section class="section section-about-vision" data-midnight="dark">
    <div class="container">
        <div class="section-about-vision-image" data-aos="fade-right" data-aos-duration="300">
            <img src="images/about.png" alt="">
        </div>
        <div class="section-text section-about-vision-text">
            <div class="title">
                <h2 data-aos="fade" class="slide-bg">Our vision</h2>
            </div>
            <div class="text" data-aos="fade-up">
                We see a future in which financial markets are made up of individuals engaged in free trade; a future, in which big institutions no longer are the gatekeepers and everyone can interact directly with one another. We see security and transparency becoming
                the cornerstones of every transaction, and individuals taking control of their financial futures.
            </div>
            <div class="fraze" data-aos="fade-up">
                We are developing SociumTrade
                to be the tool that begins to realize that vision
            </div>
        </div>
    </div>
</section>

