<section class="section section-page-content" data-midnight="both">
    <div class="container">
        <div class="section-text section-page-content-text long">
            <div class="title slide-bg" data-aos="fade">
                <h2>How the idea was born?</h2>
            </div>
            <div class="fraze" data-aos="fade-up">
                SociumTrade is a product demanded by the market
            </div>
            <div class="text" >
                <p data-aos="fade-up">
                As bitcoin became increasingly popular over the last couple of years, we saw a rise in retail demand for crypto-related financial services. People with little to no knowledge of cryptocurrencies and blockchain technology wanted to get involved in the market and profit from the meteoric growth of crypto assets. Potential investors were asking about managers who could invest their money for them, but there was no infrastructure in place for individuals to fund traders and have them manage their money. On top of that the exchanges were lacking in use.
                </p>
                <p data-aos="fade-up">
                Seeing this, our founders decided to offer a solution for the growing crypto space, but also go further. Crypto assets make up a very small amount of money. Our new platform, SociumTrade, was to be architected to enable traders and investors. SociumTrade is a product demanded by the market, and we see a bright future for it and the industry.
                </p>
            </div>
        </div>
        <div class="section-text section-page-content-fraze" >
            <div class="section-page-content-fraze-bg" >
                <div class="fraze" data-aos="fade-left" data-aos-duration="300">
                    Our mission is to equip traders
                    and investors with the most comprehensive suite of instruments for cooperating and profiting from the market.
                </div>
            </div>
        </div>
    </div>
</section>

