<section class="section section-roadmap">
    <div class="container">
        <h2>Roadmap</h2>
        <div class="section-roadmap-list">
            <div class="section-roadmap-item prev">
                <div class="section-roadmap-year">2017</div>
                <div class="section-roadmap-item-content">
                    <div class="date">
                        May 2017
                    </div>
                    <div class="title">
                        Idea
                    </div>
                    <div class="text">
                        The idea is born to build a platform that would allow direct p2p investment between an individual and a trader, and for traders to procure capital and trade on the platform.
                    </div>
                </div>
            </div>
            <div class="section-roadmap-item prev">
                <div class="section-roadmap-item-content">
                    <div class="date">
                        June 2017
                    </div>
                    <div class="title">
                        Research and Validation
                    </div>
                    <div class="text">
                        Through research and consultations with market insiders, the idea is validated and expanded to incorporate consortiums and pools and allow for traditional asset classes down the line.
                    </div>
                </div>
            </div>
            <div class="section-roadmap-item prev size-s">
                <div class="section-roadmap-item-content">
                    <div class="date">
                        August 2017
                    </div>
                    <div class="title">
                        Whitepaper 1.0
                    </div>
                    <div class="text">

                    </div>
                </div>
            </div>
            <div class="section-roadmap-item prev medium size-s">
                <div class="section-roadmap-item-content">
                    <div class="date">
                        September 2017
                    </div>
                    <div class="title">
                        POC and evaluation
                    </div>
                    <div class="text">

                    </div>
                </div>
            </div>
            <div class="section-roadmap-item active small size-s">
                <div class="section-roadmap-year">2018</div>
                <div class="section-roadmap-item-content">
                    <div class="date">
                        March 2018
                    </div>
                    <div class="title">
                        Whitepaper 2.0
                    </div>
                    <div class="text">

                    </div>
                </div>
            </div>
            <div class="section-roadmap-item active small size-s">
                <div class="section-roadmap-item-content">
                    <div class="date">
                        Q2 2018
                    </div>
                    <div class="title">
                        Company Registered in Malta and Estonia
                    </div>
                    <div class="text">

                    </div>
                </div>
            </div>
            <div class="section-roadmap-item small">
                <div class="section-roadmap-item-content">
                    <div class="date">
                        Q2 2018
                    </div>
                    <div class="title">
                        SociumTrade MVP
                    </div>
                    <div class="text">
                        A functional platform that supports user profiles, social connectivity, crypto-asset trading and one-to-one investing.

                    </div>
                </div>
            </div>
            <div class="section-roadmap-item medium">
                <div class="section-roadmap-item-content">
                    <div class="date">
                        May 2018
                    </div>
                    <div class="title">
                        Private-sale
                    </div>
                    <div class="text md">
                        We will be doing a private sale of tokens to selected, vetted investors.

                    </div>
                </div>
            </div>
            <div class="section-roadmap-item small">
                <div class="section-roadmap-item-content">
                    <div class="date">
                        July 2018
                    </div>
                    <div class="title">
                        Socium Exchange Launch
                    </div>
                    <div class="text">
                        This will enable users to trade assets and use advanced order types to generate profit in the most efficient way. HEX prototyping.
                    </div>
                </div>
            </div>
            <div class="section-roadmap-item medium">
                <div class="section-roadmap-item-content">
                    <div class="date">
                        August 2018
                    </div>
                    <div class="title">
                        Socium Lend
                    </div>
                    <div class="text">
                        The launch of the p2p pawnshop tool. Integration with land-based partners to facilitate operations with fiat.
                    </div>
                </div>
            </div>
            <div class="section-roadmap-item small">
                <div class="section-roadmap-item-content">
                    <div class="date">
                        August 2018
                    </div>
                    <div class="title">
                        BrokerGram
                    </div>
                    <div class="text">
                        Initiating the project, public vote for scope of work, contest of the best POC.
                    </div>
                </div>
            </div>
            <div class="section-roadmap-item medium">
                <div class="section-roadmap-item-content">
                    <div class="date">
                        September 2018
                    </div>
                    <div class="title">
                        ICO
                    </div>
                    <div class="text md">
                        Public sale of tokens.
                    </div>
                </div>
            </div>
            <div class="section-roadmap-item small">
                <div class="section-roadmap-item-content">
                    <div class="date">
                        Oct 2018
                    </div>
                    <div class="title">
                        Socium Gift
                    </div>
                    <div class="text">
                        Gift making platform in order to offer modern crypto- presents to the community of enthusiasts.
                    </div>
                </div>
            </div>
            <div class="section-roadmap-item large">
                <div class="section-roadmap-item-content">
                    <div class="date">
                        Q4 2018
                    </div>
                    <div class="title">
                        SociumTrade Launches Many-to-One Investment
                    </div>
                    <div class="text">
                        At this point traders will be able to accept investments for a single portfolio from multiple individuals. HEX beta.
                    </div>
                </div>
            </div>
            <div class="section-roadmap-item">
                <div class="section-roadmap-year">2019</div>
                <div class="section-roadmap-item-content">
                    <div class="date">
                        Q1 2019
                    </div>
                    <div class="title">
                        BrokerGram Launch
                    </div>
                    <div class="text">
                        This will enable users to communicate and execute platform tasks from a messaging application. Integration with various platforms via bots API.

                    </div>
                </div>
            </div>
            <div class="section-roadmap-item">
                <div class="section-roadmap-item-content">
                    <div class="date">
                        Q2 2019
                    </div>
                    <div class="title">
                        SociumTrade Launches Investment Pools and Trader Consortiums
                    </div>
                    <div class="text">
                        We will be doing a private sale of tokens to selected, vetted investors.
                    </div>
                </div>
            </div>
            <div class="section-roadmap-item medium">
                <div class="section-roadmap-item-content">
                    <div class="date">
                        Q3 2019
                    </div>
                    <div class="title">
                        FX integration
                    </div>
                    <div class="text">
                        Traders can benefit from Forex market, having the same terminal and transparency.
                    </div>
                </div>
            </div>
            <div class="section-roadmap-item small">
                <div class="section-roadmap-item-content">
                    <div class="date">
                        June 2019
                    </div>
                    <div class="title">
                        ICO voting tool, listing orders
                    </div>
                    <div class="text">
                        This will enable users to propose new promising products and start crowdfunding straight away with guaranteed listed token.
                    </div>
                </div>
            </div>
            <div class="section-roadmap-item medium">
                <div class="section-roadmap-item-content">
                    <div class="date">
                        August 2019
                    </div>
                    <div class="title">
                        Index development
                    </div>
                    <div class="text">
                        Develop, launch and manage crypto-asset basket indexes.
                    </div>
                </div>
            </div>
            <div class="section-roadmap-item large">
                <div class="section-roadmap-item-content">
                    <div class="date">
                        Q3  2019
                    </div>
                    <div class="title">
                        Alternative assets
                    </div>
                    <div class="text">
                        Enable tokenized alternative assets to be traded on the platform, integration with real estate investment platforms.
                    </div>
                </div>
            </div>
            <div class="section-roadmap-item small">
                <div class="section-roadmap-year">2020</div>
                <div class="section-roadmap-item-content">
                    <div class="date">
                        Q2 2020
                    </div>
                    <div class="title">
                        SociumTrade enters Stocks
                    </div>
                    <div class="text">
                        At this point traders will be able to benefit from unique and exotic trading pairs like crypto/stocks or stocks/commodities
                    </div>
                </div>
            </div>
            <div class="section-roadmap-item medium">
                <div class="section-roadmap-item-content">
                    <div class="date">
                        Q2 2020
                    </div>
                    <div class="title">
                        Full fledged HEX for Crypto
                    </div>
                    <div class="text">
                        Enable atomic-swap transactions.
                    </div>
                </div>
            </div>
            <div class="section-roadmap-item">
                <div class="section-roadmap-item-content">
                    <div class="date">
                        Q2 2020
                    </div>
                    <div class="title">
                        SociumTrade outbound API
                    </div>
                    <div class="text">
                        This way SociumTrade will share all the data and opportunities with users on other trading platforms and exchanges, bringing fair investment and trading practice to the global financial markets.
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
