<section class="section section-page-head" style="background-image: url('images/bg-faq.jpg')">
    <div class="container">
        <h1 data-aos="fade" class="slide-bg" data-aos-delay="300">Frequently Asked Questions</h1>
    </div>
</section>

