<section class="section section-question">
    <div class="container">
        <h2>General questions</h2>
        <div class="section-question-list">
            <div class="section-question-list_item">
                <a class="question toggle-open" data-toggle-next=".answer">
                    <h4>What is Socium Trade?</h4>
                    <i class="icon icon-plus"></i>
                </a>
                <div class="answer">
                    <div class="text">
                        <p>
                            Socium Trade is a revolutionary social investment and trading platform that uses proprietary Blockchain
                            Technology to guarantee the reliability, safety, and security of all transactions on the network.
                        </p>
                        Socium Trade gives you:
                        <ul>
                            <li>Reliable information on participating traders</li>
                            <li>Full control of your money – even while traders trade on your behalf!</li>
                            <li>Everything you need to trade with trust</li>
                        </ul>
                        <p>
                            You can pool money with other investors, and create specialised funds and consortiums of traders that trade 24/7. A full suite of trading, analytic, and management tools, as well as security and auditing measures lets you to make informed decisions in today’s markets. Socium Trade is next-level personal asset management.
                        </p>
                    </div>
                </div>
            </div>
            <div class="section-question-list_item">
                <a class="question toggle-open" data-toggle-next=".answer">
                    <h4>What does it mean to “invest with a trader”?</h4>
                    <i class="icon icon-plus"></i>
                </a>
                <div class="answer">
                    <div class="text">
                        If you want to be part of a growing market, but don’t have the time or expertise to trade for yourself, you can allow a vetted trader to trade on your behalf. Socium Trade enables investors to study the background, performance history, and reviews of individual traders. We help you evaluate their individual strategies and select a portfolio that is right for you. Each portfolio is bound by smart contract to the terms agreed upon between trader and investor. The system automatically ensures compliance by both parties.
                    </div>
                </div>
            </div>
            <div class="section-question-list_item">
                <a class="question toggle-open" data-toggle-next=".answer">
                    <h4>How long does your KYC (“know-your-customer”) procedure take?</h4>
                    <i class="icon icon-plus"></i>
                </a>
                <div class="answer">
                    <div class="text">
                        We try to make the KYC process as quick and painless for you as possible and aim for a 1-2-week turnaround time. However, due to the variability in processing loads and the difficulty of each individual case the process can sometimes take up to 1 month. We want to make sure that we allow no hostile agents on to the platform. The safety and security of our users’ assets is our utmost priority.
                    </div>
                </div>
            </div>
            <div class="section-question-list_item">
                <a class="question toggle-open" data-toggle-next=".answer">
                    <h4>Who can join Socium Trade investment pools?</h4>
                    <i class="icon icon-plus"></i>
                </a>
                <div class="answer">
                    <div class="text">
                        Investment pools come in two varieties: open and closed. To join a closed investment pool, you have to be invited by the pool founder. If it is a family pool, you can send the founders a private message and request to be added. If it is an open pool, you can send a system request to the founder and, if he or she approves, you will be added to the pool.
                    </div>
                </div>
            </div>
            <div class="section-question-list_item">
                <a class="question toggle-open" data-toggle-next=".answer">
                    <h4>Who can join trading consortiums?</h4>
                    <i class="icon icon-plus"></i>
                </a>
                <div class="answer">
                    <div class="text">
                        Trading consortiums come in two varieties: open and closed. To join a closed trading consortium, you have to be invited by the consortium founder. If you know the founder, you can message him or her and ask to be invited. If it is an open consortium, you can send a system request to the consortium founder and, if he or she approves, you will be added to the consortium.

                    </div>
                </div>
            </div>
            <div class="section-question-list_item">
                <a class="question toggle-open" data-toggle-next=".answer">
                    <h4>What do I need to do to be featured as a Top Trader or Top Investor on Socium Trade?</h4>
                    <i class="icon icon-plus"></i>
                </a>
                <div class="answer">
                    <div class="text">
                        We feature traders and investors who excel in several categories. Our proprietary algorithms consider their portfolio performance, risk profile, user credibility, and amount of funds managed, among other factors. You can go to your profile page and see how you stack up against currently-featured users.
                    </div>
                </div>
            </div>
        </div>
        <h2>ICO Questions</h2>
        <div class="section-question-list">
            <div class="section-question-list_item">
                <a class="question toggle-open" data-toggle-next=".answer">
                    <h4>Why an ICO?</h4>
                    <i class="icon icon-plus"></i>
                </a>
                <div class="answer">
                    <div class="text">
                        We are trying to realize an ambitious project in the financial industry and that requires capital. We have developed a “minimal viable product” using our own resources.But to achieve Socium Trade’s goals and truly revolutionize the social trading industry, we need your support and participation. We also want to increase exposure for the platform ahead of its launch The more people start using Socium Trade Tokens on the platform, the better!
                    </div>
                </div>
            </div>
            <div class="section-question-list_item">
                <a class="question toggle-open" data-toggle-next=".answer">
                    <h4>How do I buy Socium Trade Tokens?</h4>
                    <i class="icon icon-plus"></i>
                </a>
                <div class="answer">
                    <div class="text">
                        <p>
                            Socium Trade will not be listed on any exchange prior to the end of the ICO. So, the best way to acquire Tokens right now is to participate in the Pre-ICO and ICO rounds of the launch. Please follow this link to the Socium Trade ICO page and follow the instructions for purchasing our Tokens.
                        </p>
                        <p>
                            Please read carefully and note all legal requirements and restrictions. Residents of certain countries may not participate in the ICO due to legal restrictions.
                        </p>
                    </div>
                </div>
            </div>
            <div class="section-question-list_item">
                <a class="question toggle-open" data-toggle-next=".answer">
                    <h4>What can Socium Trade Tokens be used for?</h4>
                    <i class="icon icon-plus"></i>
                </a>
                <div class="answer">
                    <div class="text">
                        Socium Trade Tokens are intended to be used as utility tokens on the platform. Users will be able to pay transaction fees, commissions, and management fees using Socium Trade Tokens. The Tokens are not a security of any kind and are not tied to a share of the platform, company, or revenue.
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>