.section {
	position: relative;
	&-text {
		.image {
			margin-bottom: 3em;
		}
		.sub-title {
			font-size: 1.4em;
			font-family: $font_family_bold;
			text-transform: uppercase;
			margin-bottom: 2em;
		}
		.title {
			margin-bottom: 2em;
			max-width: 640px;
		}
		.fraze {
			max-width: 770px;
			padding-left: 25px;
			border-left: 5px solid $color_blue_1;
			font-size: 3em;
			font-family: $font_family_title;
			line-height: 1.25;
			font-style: italic;
			margin-top: 1.25em;
			min-height: 70px;
			padding-top: 0.25em;
			padding-bottom: 0.4em;
			@include block_flex;
			@include flex_align_item_center;
		}
		.text {
			max-width: 640px;
			margin-top: 1.5em;
		}
		.more {
			margin-top: 3em;
		}
	}
	&-intro {
		min-height: 100%;
		background: url('../images/bg-intro.png') no-repeat center $bg_footer;
		background-size: cover;
		color: $color_white;
		@include block_flex;
		@include flex_align_item_end;
		padding: 15em 0 8em;
		.container {
			@include block_flex;
			@include flex_justify_between;
			@include flex_align_item_end;
		}
		&-text {
			max-width: 65%;
			padding-right: 3em;
			.text {
				margin-top: 1em;
			}
		}
		&-link {
			max-width: 35%;
			text-align: right;
			&-video {
				width: 24em;
				display: inline-block;
				vertical-align: top;
				text-transform: uppercase;
				font-family: $font_family_bold;
				line-height: 6em;
				background: $color_blue_2;
				padding-left: 1em;
				border-radius: 5px;
				margin-bottom: 2.25em;
				margin-right: 15px;
				text-align: right;
				position: relative;
				font-size: 1em;
				color: $color_white;
				border: 0;
				@include web_transition(background .2s ease-in-out);
				&:after,
				&:before {
					width: 3.6em;
					height: 100%;
					border-radius: 5px;
					background: $color_blue_2;
					content: '';
					position: absolute;
					top: 0;
					left: 0;
					@include web_transition(background .2s ease-in-out);
				}
				&:before {
					@include web_transform(rotate(-60deg));
				}
				&:after {
					@include web_transform(rotate(60deg));
				}
				&:hover {
					background: $color_blue_1;
					&:before,
					&:after {
						background: $color_blue_1;
					}
				}
				&-text {
					float: left;
					position: relative;
					z-index: 1;
					font-size: 1.4em;
				}
				&-btn {
					background: $color_blue_1;
					width: 3.6em;
					height: 6em;
					position: relative;
					line-height: 6em;
					border-radius: 5px;
					padding: 0;
					border: 0;
					font-size: 1em;
					display: inline-block;
					vertical-align: top;
					text-align: center;
					&:after,
					&:before {
						width: 100%;
						height: 100%;
						border-radius: 5px;
						background: $color_blue_1;
						content: '';
						position: absolute;
						top: 0;
						left: 0;
					}
					&:after {
						@include web_transform(rotate(60deg));
					}
					&:before {
						@include web_transform(rotate(-60deg));
					}
					.icon {
						position: relative;
						z-index: 1;
					}
				}
			}
			&-follow {
				font-family: $font_family_bold;
				font-size: 2em;
				line-height: 1.6em;
				color: $color_white;
				a {
					opacity: 0.6;
					filter: opacity(0.6);
					font-family: $font_family;
					color: $color_white;
					margin-left: 0.25em;
					@include web_transition(none);
					&:hover {
						opacity: 0.99;
						filter: opacity(0.99);
					}
					.icon-social {
						width: 1.6em;
						height: 1.6em;
					}
				}
			}
		}
		&-bg {
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			overflow: hidden;
			&:after {
				background: $bg_cur;
				opacity: 0.8;
				position: absolute;
				top: 0;
				left: 0;
				width: 100%;
				height: 100%;
				content: '';
			}
		}
		.container {
			padding-bottom: 12em;
		}
		&-cur {
			position: absolute;
			bottom: 0;
			left: 0;
			width: 100%;
			overflow: hidden;
		}
	}
	&-intro-point {
		padding: 9em 0;
		background: $color_white;
		.container {
			@include block_flex;
			@include flex_justify_between;
			padding: 0 0.5em;
		}
		&-item {
			padding: 2.5em;
			text-align: center;
			.icon {
				width: 22em;
				height: 22em;
				margin: 0 auto 2em;
				img {
					width: 100%;
				}
			}
			.text {
				font-size: 1.6em;
				line-height: 1.5;
				margin-top: 1.25em;
				color: $color_text-small;
			}
		}
	}
	&-smart {
		padding: 15em 0 20em;
		position: relative;
		overflow: hidden;
		.container {
			@include block_flex;
		}
		&-text {
			position: relative;
			padding-top: 17em;
			width: 50%;
			padding-right: 5em;
			&:before {
				width: 39.5em;
				height: 32em;
				top: 0;
				left: -6em;
				position: absolute;
				content: '';
				background: url("../images/point-blue.png") repeat;
				opacity: 0.3;
			}
		}
		&-image {
			width: 50%;
			position: relative;
			z-index: 1;
			padding-top: 3em;
			&-img {
				position: relative;
				padding: 4em 0;
				margin-top: -4em;
				.text {
					color: $color_white;
					margin-top: 0;
					&.text-trader {
						position: absolute;
						top: 39%;
						left: 4%;
					}
					&.text-investor {
						position: absolute;
						top: 94%;
						left: 4%;
					}
					&.text-smart {
						position: absolute;
						top: 70%;
						left: 35%;
					}
					&.text-market {
						position: absolute;
						top: 65%;
						left: 81%;
					}
				}
			}
			&-img-svg,
			img {
				margin-left: -3em;
			}
			
		}
		&-bg {
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			&:before {
				width: 50%;
				left: 50%;
				height: 80%;
				position: absolute;
				top: 0;
				content: '';
				background: $color_blue_1;
			}
			&:after {
				width: 100%;
				left: 42%;
				height: 100%;
				position: absolute;
				top: -10%;
				content: '';
				background: url("../images/polygon.png") no-repeat;
				@include web_transform(rotate(-20deg));
			}
		}
	}
	&-point {
		background: $color_white;
		&-list {
			@include block_flex;
			@include flex_wrap;
		}
		&-item {
			padding: 12.5em 6em;
			width: 33.3333333%;
			& + & {
				border-left: 1px solid $border_color_2;
			}
			&-content {
				max-width: 430px;
				margin: 0 auto;
			}
			.icon {
				height: 140px;
				width: 140px;
				margin-bottom: 8em;
			}
			.title {
				margin-bottom: 3em;
			}
		}
		&.for {
			padding: 5.5em 0;
			.section-point-item {
				padding-top: 6em;
				padding-bottom: 8em;
			}
		}
	}
	&-system {
		padding-top: 12em;
		padding-bottom: 25em;
		position: relative;
		&-bg {
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			&:before {
				width: 690px;
				right: 50%;
				height: 90%;
				position: absolute;
				top: -4em;
				content: '';
				background: $color_blue_1;
			}
			&:after {
				width: 100%;
				right: 48%;
				height: 120%;
				position: absolute;
				top: 0;
				content: '';
				background: url(../images/polygon.png) no-repeat top right;
				-webkit-transform: rotate(-17deg);
				-moz-transform: rotate(-17deg);
				transform: rotate(-17deg);
			}
		}
		&-image {
			position: absolute;
			right: 32%;
			width: 60%;
			text-align: right;
			top: -15%;
			height: 190%;
			z-index: 2;
			img {
				max-height: 100%;
			}
		}
		&-text {
			padding-left: 10em;
			left: 50%;
			position: relative;
			width: 50%;
			z-index: 3;
		}
	}
	&-tools {
		background: $color_blue_1;
		color: $color_white;
		padding-top: 15em;
		text-align: center;
		position: relative;
		&:before {
			background: url("../images/point.png") repeat;
			width: 100%;
			left: 0;;
			height: 100%;
			position: absolute;
			top: 0;
			content: '';
			opacity: 0.2;
		}
		&-text {
			.text {
				margin-top: 1.5em;
			}
		}
		&-image {
			margin-top: 5em;
			position: relative;
			&:after {
				width: 100%;
				left: 0;
				height: 80%;
				position: absolute;
				bottom: 0;
				content: '';
				@include bg_gradient_blue;
			}
			
		}
		&-list {
			@include block_flex;
			@include flex_justify_between;
			max-width: 1300px;
			margin: 0 auto;
			margin-top: 5em;
			position: relative;
			z-index: 1;
		}
		&-item {
			text-align: center;
			padding: 0 3em;
			margin-bottom: 2em;
			.icon {
				width: 100px;
				height: 100px;
				line-height: 100px;
				img {
					vertical-align: middle;
				}
			}
			.title {
				font-size: 2.3em;
				font-family: $font_family_bold;
			}
		}
	}
	&-for {
		position: relative;
		padding: 13em 0 8em;
		overflow: hidden;
		&:before {
			width: 100%;
			left: 0;
			height: 100%;
			position: absolute;
			top: 0;
			content: '';
			background: url("../images/polygon-blue.png") no-repeat center;
			@include web_transform(rotate(-20deg));
		}
		.container {
			@include block_flex;
			@include flex_justify_between;
		}
		&-item {
			width: 48%;
			//@include block_flex;
			//&:first-child{
			//  padding-right: 3em;
			//  padding-bottom: 9em;
			//}
			//&:last-child{
			//  padding-left: 3em;
			//  padding-top: 9em;
			//}
			padding: 0.5em 8em 8em 8em;
			background: $color_white;
			&-image {
				width: 88%;
				max-width: 50em;
			}
			&-text {
				max-width: 57em;
				padding: 1.5em 0.5em;
				.title {
					margin-bottom: 3em;
				}
				.more {
					margin-top: 3em;
				}
			}
		}
	}
	&-subscribe {
		border-top: 1px solid $border_color_2;
		background: $color_white;
		padding: 10em 0;
		overflow: hidden;
		.container {
			@include block_flex;
			@include flex_justify_between;
			@include flex_align_item_end;
		}
		&-text {
			width: 50%;
			padding-right: 3em;
			.text {
				max-width: 470px;
			}
		}
		&-form {
			width: 50%;
			padding-left: 3em;
			position: relative;
			&:before {
				width: 100%;
				height: 21.5em;
				bottom: 100%;
				left: -20%;
				position: absolute;
				content: '';
				background: url("../images/point-blue.png") repeat;
				opacity: 0.3;
				max-height: 177%;
				display: none;
			}
			.form {
				padding-top: 4em;
				@include block_flex;
				@include flex_justify_between;
				&-btn {
					margin-top: 0;
					margin-left: 3em;
				}
				&-group {
					width: 100%;
					margin-bottom: 0;
				}
			}
		}
	}
	&-page {
		&-head {
			min-height: 62em;
			background: url('../images/bg-menu.png') no-repeat center $bg_footer;
			background-size: cover;
			color: $color_white;
			@include block_flex;
			@include flex_align_item_end;
			padding: 20em 0 8em;
			.container {
				@include block_flex;
				@include flex_align_item_end;
				@include flex_justify_between;
			}
			.info {
				font-size: 1.6em;
				margin-bottom: 1em;
				&_item + .info_item {
					border-left: 1px solid rgba(230, 235, 243, 0.5);
					padding-left: 0.8em;
					margin-left: 0.75em;
				}
			}
		}
		&-content {
			padding: 13em 0;
			background: $color_white;
			.text,
			.title {
				max-width: 100%;
			}
			.container {
				@include block_flex;
				@include flex_justify_between;
				@include flex_align_item_end;
			}
			&-text {
				max-width: 50%;
				padding-right: 6em;
				&.long {
					max-width: 60%;
					padding-right: 2em;
					& + .section-page-content-fraze {
						max-width: 40%;
					}
				}
			}
			&-fraze {
				max-width: 50%;
				position: relative;
				padding-left: 6em;
				&:before {
					position: absolute;
					width: 110%;
					max-width: 76em;
					height: 100%;
					top: 14%;
					opacity: 0.3;
					right: 20%;
					background: url("../images/point-blue.png") repeat;
					content: '';
				}
				&-bg {
					background: $color_blue_1;
					padding: 6em;
					min-height: 46.5em;
					@include block_flex;
					@include flex_justify_end;
					@include flex_column;
					color: $color_white;
				}
				.fraze {
					border-color: $color_white;
					position: relative;
					z-index: 2;
					color: $color_white;
				}
				.text {
					margin-top: 0;
				}
			}
		}
	}
	&-about {
		&-vision {
			padding-bottom: 10em;
			.container {
				@include block_flex;
			}
			&-text {
				padding-left: 15em;
				width: 42%;
				left: 58%;
				position: relative;
				padding-top: 15em;
				padding-bottom: 3.5em;
				.fraze {
					max-width: 470px;
				}
			}
			&-image {
				position: absolute;
				right: 42%;
				width: 58%;
				top: -3.5em;
				height: 100%;
				text-align: left;
				img {
					float: right;
					position: relative;
					z-index: 1;
					max-height: 100%;
					max-width: none;
				}
				&:before {
					position: absolute;
					top: 40%;
					height: 70%;
					width: 32em;
					opacity: 0.5;
					right: 0;
					margin-right: -8.5em;
					background: url("../images/point-blue.png") repeat;
					content: '';
				}
			}
		}
	}
	&-team {
		padding-top: 8em;
		padding-bottom: 8em;
		background: $color_white;
		&-list {
			@include block_flex;
			@include flex_wrap;
			@include flex_justify_center;
			padding-top: 1em;
			max-width: 1300px;
			margin: 0 auto;
		}
		&-item {
			width: 240px;
			text-align: left;
			margin: 2em 1em 3em;
			display: block;
			color: $color_text;
			padding: 0 1em;
			.image {
				width: 100%;
				height: 220px;
				position: relative;
				margin-bottom: 1.5em;
				overflow: hidden;
			}
			.more {
				background: rgba(6, 76, 190, 0.8);
				text-align: center;
				@include web_transition(all .2s ease-in-out);
				opacity: 0;
				padding-top: 50%;
				position: absolute;
				top: 0;
				left: 0;
				width: 100%;
				height: 100%;
			}
			.name {
				font-size: 2.2em;
				font-family: $font_family_title;
				font-weight: bold;
			}
			.text {
				line-height: 1.25;
				margin-top: 1em;
				font-size: 1.6em;
				margin-right: -1em;
				font-family: $font_family;
			}
			.links {
				@include block_flex;
				@include flex_justify_center;
				margin: -45px 0 1em;
				a {
					display: inline-block;
					width: 57px;
					height: 32px;
					background: $color_blue_1;
					text-align: center;
					position: relative;
					margin: 15px 0;
					&:after,
					&:before {
						position: absolute;
						top: 0;
						left: 0;
						width: 100%;
						height: 100%;
						content: '';
						@include web_transform(rotate(60deg));
						background: $color_blue_1;
						@include web_transition(background .2s ease-in-out);
					}
					&:after {
						@include web_transform(rotate(-60deg));
					}
					.icon {
						position: relative;
						z-index: 1;
						margin-top: -5px;
					}
					&:hover {
						background: $color_blue_2;
						&:before,
						&:after {
							background: $color_blue_2;
						}
					}
				}
			}
			&:hover {
				.more {
					opacity: 0.99;
				}
			}
		}
		&-text {
			text-align: center;
			.text {
				margin-top: 1.5em;
			}
		}
		&-name {
			color: #15161C;
			font-family: $font_family_title;
			font-size: 2.8em;
			text-align: center;
			padding-top: 2em;
		}
	}
	&-roadmap {
		padding-top: 12em;
		padding-bottom: 12em;
		text-align: center;
		&-year {
			font-size: 2em;
			color: $color_blue_1;
			font-family: $font_family_bold;
			text-align: center;
			position: absolute;
			bottom: 100%;
			left: 0;
			width: 3em;
			padding: 0.5em 0;
			background: $bg-gray;
		}
		&-list {
			max-width: 150em;
			margin: 0 auto;
			padding-top: 10em;
			margin-bottom: 2em;
		}
		&-item {
			width: 50%;
			position: relative;
			height: 15.5em;
			padding-top: 30px;
			text-align: left;
			&.small {
				height: 10.75em;
			}
			&.medium {
				height: 17em;
			}
			&.large {
				height: 30em;
			}
			&.size {
				&-s {
					.section-roadmap-item-content {
						padding-bottom: 0;
						min-height: 16em;
					}
				}
			}
			&-content {
				background: $color_white;
				@include box_shadow(0 2px 4px 0 rgba(38, 56, 88, 0.1));
				padding: 4em 3em 4em 6em;
				position: relative;
				&:after {
					width: 40px;
					height: 43px;
					right: -39px;
					top: 0;
					background: url("../images/roadmap/rec.png") no-repeat center;
					position: absolute;
					content: '';
				}
			}
			&:before {
				position: absolute;
				top: 2.4em;
				width: 2px;
				height: 100%;
				background: #d2dae9;
				content: '';
			}
			&:after {
				position: absolute;
				top: 0;
				content: '';
				width: 46px;
				height: 59px;
				background: url("../images/roadmap/hex.png") no-repeat center;
				background-size: 100% auto;
			}
			&:nth-child(odd) {
				left: 50%;
				padding-left: 7.5em;
				&:after {
					left: 0;
					margin-left: -24px;
				}
				&:before {
					left: -2px;
				}
				.section-roadmap-item-content {
					&:after {
						right: inherit;
						left: -39px;
						@include web_transform(rotate(90deg));
						top: -1px;
					}
				}
				.section-roadmap-year {
					margin-left: -1.5em;
				}
			}
			&:nth-child(even) {
				padding-right: 7.5em;
				&:after {
					right: 0;
					margin-right: -22px;
				}
				&:before {
					right: 0;
				}
				.section-roadmap-year {
					margin-right: -1.5em;
				}
			}
			&:last-child {
				height: auto;
				&:before {
					display: none;
				}
			}
			.date {
				opacity: 0.5;
				margin-bottom: 0.75em;
				font-size: 2em;
				line-height: 1;
			}
			.title {
				font-size: 2.9em;
				font-family: $font_family_title;
				font-weight: bold;
				line-height: 1.2;
			}
			.text {
				margin-top: 0.75em;
				line-height: 1.5;
				&.md {
					min-height: 3em;
				}
			}
			&.prev,
			&.active {
				
				&:after {
					background-image: url("../images/roadmap/hex-active.png");
				}
				.title {
					position: relative;
					display: inline-block;
					vertical-align: top;
					padding-right: 25px;
					&:after {
						width: 7px;
						height: 14px;
						@include web_transform(rotate(40deg));
						border-right: 4px solid #064cbe;
						border-bottom: 4px solid #064cbe;
						position: absolute;
						content: '';
						bottom: 0.6em;
						right: 0;
						margin-bottom: -7px;
					}
				}
			}
			&.prev {
				&:before {
					width: 4px;
					background: $color_blue_1;
				}
				&:nth-child(odd) {
					&:before {
						left: -4px;
					}
				}
			}
		}
	}
	&-investor-smart {
		padding: 7em 0;
		&_content {
			@include block_flex;
			@include flex_align_item_center;
			background: $color_white;
		}
		&-image {
			background: $color_white;
			width: 40%;
			position: relative;
			padding: 0 0 0 10em;
			img {
				position: relative;
				margin-top: -5em;
				margin-bottom: -5em;
				max-width: 100%;
			}
		}
		&-text {
			background: $color_white;
			width: 60%;
			padding: 4.5em 10em;
			.section-text {
				> * {
					max-width: 100%;
				}
			}
		}
	}
	&-investor-point {
		padding-bottom: 6em;
		.container {
			@include block_flex;
			@include flex_justify_between;
			padding: 0 3em;
		}
		&-item {
			max-width: 42%;
			padding: 0 3em;
		}
	}
	&-investor-about {
		background: $color_white;
		overflow: hidden;
		padding-top: 5em;
		position: relative;
		&:after {
			content: '';
			position: absolute;
			left: 0;
			top: 0;
			right: 0;
			height: 60px;
			width: 100%;
			z-index: 0;
			background: #f3f4f9;
		}
		.container {
			z-index: 2;
			@include block_flex;
			margin-bottom: 12.5em;
		}
		&-image {
			width: 43%;
			background: $color_blue_1;
			position: relative;
			&:before {
				position: absolute;
				width: 105%;
				height: 82%;
				top: 40%;
				opacity: 0.3;
				right: 10%;
				background: url("../images/point-blue.png") repeat;
				content: '';
			}
			&:after {
				position: absolute;
				width: 100%;
				height: 100%;
				top: 0;
				opacity: 0.2;
				left: 0;
				background: url("../images/point.png") repeat;
				content: '';
			}
			&:last-child {
				margin-top: -5em;
				margin-bottom: 8em;
				margin-left: 5em;
				img {
					margin-left: -2em;
					margin-bottom: -8em;
				}
			}
			&:first-child {
				&:before {
					top: -10%;
					left: -10%;
				}
				img {
					margin-top: -3em;
					right: -3em;
				}
			}
			img {
				position: relative;
				z-index: 1;
			}
		}
		&-text {
			width: 57%;
			padding: 6em 0;
			&:first-child {
				padding-right: 6em;
				padding-bottom: 3em;
			}
			&:last-child {
				padding-left: 6em;
			}
			.section-text {
				> * {
					max-width: 100%;
				}
			}
		}
	}
	&-contact {
		padding: 12em 0 16em;
		&-text {
			width: 42%;
			padding-right: 6em;
			position: relative;
			.title {
				margin-bottom: 5em;
			}
			.link {
				color: $color_text-small;
				font-size: 2em;
				line-height: 35px;
				display: block;
				margin-top: 1em;
				a {
					color: $color_text-small;
				}
				.icon {
					margin-right: 8px;
				}
			}
			&:after {
				position: absolute;
				width: 30em;
				height: 36em;
				opacity: 0.3;
				right: -5em;
				background: url("../images/point-blue.png") repeat;
				content: '';
				z-index: 1;
				top: 100%;
				margin-top: -15em;
			}
		}
		&-map {
			position: absolute;
			left: 42%;
			width: 58%;
			top: 0;
			height: 100%;
			background: $color_blue_1;
			overflow: hidden;
			.map {
				width: 100%;
				height: 100%;
			}
		}
	}
	&-products {
		padding: 8em 0 2em;
		.container {
			@include block_flex;
			@include flex_wrap;
			@include flex_justify_between;
		}
		&-item {
			max-width: 47.85%;
			width: 100%;
			background: $color_white;
			padding: 4em 6em 6em;
			margin-bottom: 6em;
			.title {
				@include block_flex;
				@include flex_align_item_center;
			}
			.text {
				min-height: 5.25em;
			}
			.more {
				margin-top: 1.5em;
			}
		}
	}
}

@media(max-width: 1120px) {
	.section {
		&-page-head {
			min-height: 46em;
		}
	}
}

@media(max-width: 940px) {
	.section {
		&-text {
			.fraze {
				font-size: 2em;
				padding-left: 15px;
				min-height: 50px;
			}
			.image {
				width: 62px;
			}
			.text,
			.title {
				max-width: none;
			}
		}
		&-intro {
			.container {
				@include flex_column;
			}
			&-text {
				margin-bottom: 6em;
			}
			&-text, &-link {
				max-width: 100%;
				width: 100%;
				padding-right: 0;
				padding-left: 0;
				text-align: center;
			}
		}
		&-intro, &-smart, &-subscribe {
			.container {
				@include flex_column;
			}
		}
		&-point,
		&-intro-point {
			padding: 0;
			.container {
				@include flex_wrap;
				@include flex_justify_around;
			}
			&-item {
				padding: 3em;
				width: 100%;
				max-width: 320px;
				text-align: left;
				.icon {
					width: 50px;
					height: 50px;
					margin: 0 10px 0 0;
					float: left;
				}
				.title {
					padding-top: 15px;
				}
				.text {
					font-size: 2em;
				}
			}
		}
		&-smart {
			padding: 0;
			&-bg {
				display: none;
			}
			&-text {
				width: 100%;
				padding: 3em 0 5em;
				&:before {
					display: none;
				}
			}
			&-image {
				background: $color_blue_1;
				width: auto;
				text-align: center;
				margin: 0 -3em;
				&:before {
					position: absolute;
					width: 100%;
					height: 120%;
					opacity: .3;
					background: url(../images/mobile-hexagon.png) center no-repeat;
					content: '';
					top: -10%;
					left: 0;
				}
				&-img-svg,
				img {
					max-height: 50em;
					position: relative;
					margin: -6em 0 -2em;
				}
				&-img-svg {
					height: 50em;
					div {
						height: 100%;
					}
				}
				&-img {
					padding: 4em 0 5em;
					.text {
						&.text-trader {
							position: absolute;
							top: 34%;
							left: 8%;
						}
						&.text-investor {
							position: absolute;
							top: 92%;
							left: 7%;
							
						}
						&.text-smart {
							position: absolute;
							top: 67%;
							left: 38%;
						}
						&.text-market {
							position: absolute;
							top: 61%;
							left: 85%;
						}
					}
				}
			}
		}
		&-point {
			padding: 3em 0;
			&-list {
				@include flex_wrap;
				@include flex_justify_around;
			}
			&-item {
				& + & {
					border: 0;
				}
			}
			&.for {
				padding: 3em 0;
				.section-point-item {
					padding: 3em;
				}
			}
		}
		&-system {
			padding: 0;
			overflow: hidden;
			.container {
				@include block_flex;
				@include flex_column_reverse;
			}
			&-bg {
				display: none;
			}
			&-text {
				left: 0;
				width: 100%;
				padding: 3em 0 5em;
			}
			&-image {
				position: relative;
				right: inherit;
				width: 100%;
				height: auto;
				top: 0;
				background: $color_blue_1;
				text-align: center;
				margin-bottom: 12em;
				&:before {
					position: absolute;
					height: 308px;
					width: 100%;
					opacity: .3;
					background: url(../images/mobile-hexagon.png) center no-repeat;
					content: '';
					top: 0;
					right: -3em;
					@include web_transform(rotate(10deg));
				}
				img {
					max-height: 50em;
					position: relative;
					margin: -3em 0 -8em;
				}
			}
		}
		&-tools {
			padding-top: 5em;
			&-text {
				max-width: 500px;
				margin: 0 auto;
			}
			&-list {
				@include flex_wrap;
			}
			&-item {
				width: 50%;
				margin-bottom: 5em;
				.icon {
					width: 50px;
					height: 50px;
					line-height: 50px;
					img {
						max-height: 80%;
					}
				}
				.title {
					font-size: 2em;
				}
			}
			&-image {
				margin: 0;
			}
		}
		&-for {
			padding: 3em 0;
			&:before {
				display: none;
			}
			&-item {
				width: 49%;
				padding: .5em 2em 2em;
			}
		}
		&-subscribe {
			padding: 6em 0 8em;
			&-text,
			&-form {
				padding-left: 0;
				padding-right: 0;
				width: 100%;
				.form {
					padding-top: 2em;
					@include flex_column;
					&-btn {
						margin-left: 0;
						margin-top: 2em;
						.btn {
							max-width: 20em;
						}
					}
				}
			}
		}
		&-page-head {
			min-height: 27em;
			padding-top: 15em;
			padding-bottom: 3em;
		}
		&-page-content {
			padding: 4em 0 0;
			.container {
				@include flex_column;
				padding: 0;
			}
			&-text, &-fraze, &-text.long {
				max-width: 100% !important;
				width: 100%;
			}
			&-text {
				padding: 0 3em;
			}
			&-fraze {
				margin-top: 3em;
				padding: 0;
				&:before {
				
				}
				&-bg {
					min-height: 10em;
					padding: 3em;
					.fraze {
						&:first-child {
							margin-top: 0;
						}
					}
				}
			}
		}
		&-about-vision {
			padding: 0;
			.container {
				@include flex_column;
				padding: 0;
			}
			&-text {
				padding: 4em 3em;
				width: 100%;
				left: 0;
				&:before {
					position: absolute;
					bottom: 83%;
					height: 27em;
					width: 32em;
					opacity: .5;
					left: 0;
					margin-right: -8.5em;
					background: url(../images/point-blue.png);
					content: '';
					z-index: -1;
				}
			}
			&-image {
				top: 0;
				left: 0;
				position: relative;
				height: 260px;
				overflow: hidden;
				width: 100%;
				img {
					max-width: 100%;
					max-height: none;
				}
			}
		}
		&-team {
			padding: 4em 0;
			&-list {
				padding-top: 2em;
				margin: 0 -3em;
			}
			&-item {
				max-width: 320px;
				padding: 0 3em;
				width: 100%;
				margin: 0;
				.name {
					font-size: 2.6em;
					margin-top: 0.75em;
					line-height: 1;
					white-space: nowrap;
				}
				.text {
					font-size: 2em;
				}
				.image {
					width: 95px;
					height: 95px;
					float: left;
					margin-right: 1.75em;
				}
			}
		}
		&-roadmap {
			padding: 4em 0;
			&-list {
				padding-top: 6em;
			}
			&-item {
				height: auto !important;
				left: 0 !important;
				width: auto;
				margin-left: 1em;
				padding-left: 3em !important;
				padding-right: 0 !important;
				padding-top: 20px;
				&:after {
					right: 0;
					margin-left: -15px !important;
					margin-right: 0 !important;
					left: 0;
					width: 28px;
					height: 35px;
					background-size: 180% auto;
				}
				&:nth-child(even):before {
					left: -2px;
					right: inherit;
				}
				&.prev {
					&:nth-child(even):before {
						left: -4px;
						right: inherit;
					}
				}
				&-content {
					padding: 3em;
					&:after {
						width: 10px;
						height: 10px;
						left: -10px !important;
						right: inherit;
						top: 0 !important;
						@include web_transform(rotate(90deg));
					}
				}
				.title {
					font-size: 2.6em;
				}
				&.active, &.prev {
					&:after {
						margin-left: -15px !important;
						background-size: 100% auto;
					}
					.title {
						padding-right: 15px;
						&:after {
							width: 4px;
							height: 7px;
							border-right-width: 2px;
							border-bottom-width: 2px;
							margin-bottom: -4px;
						}
					}
					
				}
			}
		}
		&-investor-smart {
			padding: 4em 0;
			overflow: hidden;
			.container {
				padding: 0;
			}
			&_content {
				@include flex_column;
				background: none;
			}
			&-text, &-image {
				width: 100%;
				max-width: 100%;
				position: relative;
			}
			&-text {
				margin: 0;
				padding: 10em 3em 3em;
				.section-text {
					max-width: 100%;
				}
			}
			&-image {
				margin: 2.5em 0 -7em;
				padding-left: 3em;
				z-index: 1;
				text-align: left;
				&:before {
					padding: 0;
				}
				img {
					max-width: 100%;
					height: 32em;
					left: 0;
					width: auto;
					margin-top: -2em;
					margin-bottom: -2em;
				}
			}
		}
		&-investor-about {
			overflow: hidden;
			.container {
				@include flex_column;
			}
			&-text, &-image {
				width: auto;
			}
			.container {
				margin-bottom: 0;
				&:first-child {
					@include flex_column-reverse;
				}
			}
			&-image {
				margin-left: -3em;
				text-align: center;
				margin-right: -3em;
				img {
					max-height: 40em;
				}
				&:last-child {
					margin-top: 0;
					margin-bottom: 5em;
					margin-left: -3em;
					img {
						margin-bottom: -5em;
					}
				}
				&:first-child {
					img {
						right: 0;
					}
				}
			}
			&-text {
				padding: 4em 0 !important;
			}
		}
		&-investor-point {
			.container {
				@include flex_wrap;
				@include flex_justify_around;
			}
			&-item {
				width: 100%;
				max-width: 320px;
				margin-top: 0 !important;
				& + & {
					margin-top: 4em;
				}
			}
		}
		&-traders-includes {
			padding: 0;
			.container {
				@include flex_column;
			}
			&_text {
				width: 100%;
				padding: 4em 0;
			}
			&_info {
				width: 100%;
				left: 0;
				position: relative;
				top: 0;
				padding: 4em 3em;
				&_box {
					@include flex_column;
					&_item {
						max-width: 100% !important;
					}
				}
			}
		}
		&-traders-management {
			&:after {
				display: none;
			}
			.container {
				@include flex_column;
				padding: 0;
			}
			&_img {
				width: 100%;
				max-height: 46.28em;
				overflow: hidden;
				img {
					width: 100%;
					right: 0;
					position: relative;
					height: auto;
				}
			}
			&_text {
				width: 100%;
				padding: 4em 3em;
			}
		}
		&-traders-smart-contracts {
			padding: 4em 0;
			.container {
				@include flex_column;
			}
			&_name {
				width: 100%;
				padding: 0;
				&_border {
					height: 4em;
					margin-top: 4em;
					margin-right: 5em;
					width: auto;
					&:before {
						height: 87px;
						width: 64px;
						right: -5em;
						bottom: 7px;
					}
				}
			}
			&_text {
				width: 100%;
				padding: 0;
			}
		}
		&-traders-profiles {
			padding: 4em 0;
			.container {
				@include flex_column;
				padding-bottom: 0;
				padding-top: 0;
			}
			&_name {
				padding: 0;
				width: 100%;
				&:before {
					left: -10em;
					top: -4em;
					height: 13em;
				}
			}
			&_img {
				width: 100%;
				position: relative;
				left: inherit;
				padding: 0;
				right: 0;
				text-align: right;
				img {
					max-height: 42em;
				}
			}
		}
		&-traders-capital {
			.container {
				@include flex_column;
				padding: 0;
			}
			&:before {
				position: absolute;
				height: 23em;
				opacity: .3;
				background: url(../images/point-blue.png);
				content: '';
				right: 0;
				top: -2.5em;
				width: 80%;
			}
			&_img {
				width: 100%;
				height: 47em;
				overflow: hidden;
				position: relative;
				img {
					width: 100%;
					right: 0;
					position: relative;
					height: auto;
				}
			}
			&_text {
				padding: 4em 3em;
				width: 100%;
			}
		}
		&-traders-consortium {
			padding: 0;
			.container {
				@include flex_column;
				padding: 0;
			}
			&_name {
				width: 100%;
				padding: 4em 3em;
			}
			&_text {
				width: 100%;
				padding: 4em 3em;
			}
			.icon-consortiums {
				width: 47px;
				height: 44px;
			}
		}
		&-traders-functionality {
			padding: 4em 0 0;
			.container {
				@include flex_column;
			}
			&_name {
				width: 100%;
				padding: 4em 0 0;
				&:before {
					left: -9em;
					top: 0;
					height: 13em;
				}
			}
			&_img {
				width: 100%;
				position: relative;
				left: 0;
				overflow: hidden;
				&_images {
					padding: 4em 3em 0;
				}
			}
		}
		&-contact {
			padding: 4em 0 0;
			&-text {
				width: 100%;
				padding-bottom: 3em;
				.title {
					margin-bottom: 3em;
				}
				&:after {
					display: none;
				}
			}
			&-map {
				position: relative;
				width: 100%;
				left: 0;
				height: 45em;
			}
		}
		&-products {
			padding: 4em 0 0;
			&-item {
				padding: 3em;
				margin-bottom: 4em;
				.title {
					img {
						width: 50px;
						height: 50px;
					}
				}
				.text {
					min-height: 1.5em;
				}
			}
		}
	}
	
}

@media (max-width: 767px) {
	.section {
		&-for {
			.container {
				@include flex_column;
			}
			&-item {
				width: 100%;
				&:first-child {
					margin-bottom: 1.5em;
				}
			}
		}
		&-products {
			padding: 4em 0 0;
			&-item {
				max-width: 100%;
			}
		}
	}
}

@media (max-width: 767px) {
	.section {
		&-intro {
			&-bg {
				.box-video-height {
					width: auto !important;
					height: 100% !important;
				}
			}
		}
	}
}

@media (max-width: 480px) {
	.section-about-vision {
		&-text {
			&:before {
				display: none;
			}
		}
	}
	.section-page-head {
		.container {
			@include flex_column;
			@include flex_align_item_start;
		}
	}
}
