<section class="section section-page-head" style="background-image: url('images/bg-contact.jpg')">
    <div class="container">
        <h1 data-aos="fade" class="slide-bg" data-aos-delay="300">Contact us</h1>
        <div class="section-intro-link-follow"   data-aos="fade-up">
            Follow us&nbsp;&nbsp;&mdash;
            <a class="link"><i class="icon icon-social icon-social-fb"></i></a>
            <a class="link"><i class="icon icon-social icon-social-tw"></i></a>
            <a class="link"><i class="icon icon-social icon-social-li"></i></a>
            <a class="link"><i class="icon icon-social icon-social-tel"></i></a>
            <a class="link"><i class="icon icon-social icon-social-md"></i></a>
            <a class="link"><i class="icon icon-social icon-social-bt"></i></a>
            <a class="link"><i class="icon icon-social icon-social-gh"></i></a>
            <a class="link"><i class="icon icon-social icon-social-rt"></i></a>
        </div>
    </div>
</section>

