<form class="form">
    <div class="form-group">
        <input type="text" class="form-control" placeholder="Enter your e-mail">
    </div>
    <div class="form-btn">
        <button type="submit" class="btn btn-control">
            Subscribe
        </button>
    </div>
</form>