<div class="section-blog-cat-dropdown">
    <div class="dropdown">
        <a class="link href-dropdown"><span class="change-value">Categories</span> <i class="caret"></i></a>
        <div class="menu-dropdown right">
            <a class="link">Platform updates</a>
            <a class="link">Trading tips</a>
            <a class="link">Finance news</a>
            <a class="link">Market insights</a>
            <a class="link">Investment report</a>
            <a class="link">Socium Trading</a>
        </div>
    </div>
</div>