<div class="section-blog-cat hide-cat-mobile">
    <h4>Categories</h4>
    <div class="section-blog-cat_item"><a href="#">Platform updates</a></div>
    <div class="section-blog-cat_item"><a href="#">Trading tips</a></div>
    <div class="section-blog-cat_item"><a href="#">Finance news</a></div>
    <div class="section-blog-cat_item"><a href="#">Market insights</a></div>
    <div class="section-blog-cat_item"><a href="#">Investment report</a></div>
    <div class="section-blog-cat_item"><a href="#">Socium Trading</a></div>
</div>