<div class="section-blog-item small">
    <div class="section-blog-item_image">

    </div>
    <div class="section-blog-item_content">
        <div class="info">
            <div class="info-date">11 April 2018</div>
        </div>
        <div class="title">Daily cryptocurrency Tracker 11.4.18: Slight gains in crypto market</div>
    </div>
</div>
<div class="section-blog-item small">
    <div class="section-blog-item_image">

    </div>
    <div class="section-blog-item_content">
        <div class="info">
            <div class="info-date">11 April 2018</div>
        </div>
        <div class="title">Market Analysis 11/04/2018</div>
    </div>
</div>
<div class="section-blog-item small">
    <div class="section-blog-item_image">

    </div>
    <div class="section-blog-item_content">
        <div class="info">
            <div class="info-date">11 April 2018</div>
        </div>
        <div class="title">SociumTrade raises $100m to support global expansion and the development of blockchain-backed technologies</div>
    </div>
</div>