<div class="section-blog-filter">
    <div class="dropdown">
        <a class="link href-dropdown"><span class="change-value">Newest firts</span> <i class="caret"></i></a>
        <div class="menu-dropdown right">
            <a class="link active">Newest firts</a>
            <a class="link">Newest latest</a>
        </div>
    </div>
</div>