<div class="section-blog-item result">
    <div class="section-blog-item_content">
        <div class="info">
            <div class="info-date">11 April 2018 <span class="by">By SociumTrade</span></div>
            <div class="info-view">36587 views</div>
        </div>
        <div class="title"><h4>Daily cryptocurrency Tracker 11.4.18: Slight gains in crypto market</h4></div>
        <div class="text">
            .. MarketsYour capital is at riskWall Street closes significantly higherAfter Chinese President Xi Jinping said he plans to open up his country’s economy by lowering import...
        </div>

        <div class="more"><a href="blog-post.html" class="link link-path">Read more</a></div>
    </div>
</div>
<div class="section-blog-item result">
    <div class="section-blog-item_content">
        <div class="info">
            <div class="info-date">11 April 2018 <span class="by">By SociumTrade</span></div>
            <div class="info-view">36587 views</div>
        </div>
        <div class="title"><h4>Market Analysis 11/04/2018</h4></div>
        <div class="text">
            ..constantly at the forefront of Fintech innovation. Quite often, we release new features and updates to our platform, including improvements to our trading and investing...
        </div>

        <div class="more"><a href="blog-post.html" class="link link-path">Read more</a></div>
    </div>
</div>