<div class="section-blog-subscribe">
    <div class="section-blog-subscribe_title">
        <div class="image"><img src="images/email.svg" alt=""></div>
        <div class="title"><h4>Subscribe to our email newsletter</h4></div>
    </div>
    <div class="section-blog-subscribe_form">
        {% include "blocks/subscribe/_form.html" %}
    </div>
</div>