<div class="section-blog-search">
    <form class="form" action="">
        <div class="form-group">
            <div class="form-control-btn right"><a class="link" href="blog-search.html"><i class="icon icon-search"></i></a></div>
            <input type="text" class="form-control" placeholder="Start searching" />
        </div>
    </form>
</div>