<section class="section section-page-head">
    <div class="container">
        <div class="section-page-head_title">
            <div class="info">
                <span class="info_item">11 April 2018</span>
                <span class="info_item">By SociumTrade</span>
                <span class="info_item">6587 views</span>
            </div>
            <h1>
                Daily cryptocurrency Tracker 11.4.18: Slight gains in crypto market
            </h1>
        </div>
    </div>
</section>

