<section class="section section-page-head" style="background-image: url('images/bg-blog.jpg')">
    <div class="container">
        <h1 data-aos="fade" class="slide-bg" data-aos-delay="300">Updates, tips & market insights</h1>
    </div>
</section>

