<section class="section section-traders-functionality" data-midnight="both">
  <div class="container">
    <div class="section-text section-traders-functionality_name">
      <div class="title">
        <h2>

          <span data-aos="fade" class="slide-bg aos-init aos-animate">Trading functionality</span></h2>
      </div>
      <div class="text">
        <p data-aos="fade-up">Traders can review market orders, study candlestick charts, employ Fibonacci channels, and much, much more.
          The platform even offers tools for incorporating analysis of current events from news channels and social
          chatter feeds.
        <p data-aos="fade-up"> Users can execute any number of order types, from simple limit orders to more exotic iceberg types. This
          allows traders to construct complex combinations, mitigate risks, and increase profits. Margin trading enables
          more experienced traders to take on additional risk to extend their upside. Everything at Socium Trade is
          designed to maximize trading flexibility.
        </p>
        <p data-aos="fade-up"> The platform also offers copy trading functionalities. This instrument aims to replicate end-of-period asset
          proportions in the target portfolio, not intermediary trading orders. </p>

      </div>
    </div>

  </div>
  <div class="section-text section-traders-functionality_img" data-aos="fade-left" data-aos-duration="200">
    <div class="section-traders-functionality_img_images" data-aos="fade-left" data-aos-duration="300">
      <img src="images/exchange.png" alt="" >
    </div>
  </div>
</section>

