<section class="section section-traders-smart-contracts" data-midnight="dark">
  <div class="container">
    <div class="section-text section-traders-smart-contracts_name">
      <div class="title">
        <h2>
          <span data-aos="fade" class="slide-bg aos-init aos-animate">Portfolio terms — </span> <br/>
          <span data-aos="fade" class="slide-bg dark aos-init aos-animate">smart contracts</span>
        </h2>
      </div>
      <div class="section-traders-smart-contracts_name_border"></div>
    </div>
    <div class="section-text section-traders-smart-contracts_text">
      <div class="fraze" data-aos="fade-up">
        Smart contracts play the role of an intermediary ensuring the agreement fulfilment, but exclude
        the human factor.
      </div>
      <div class="text" data-aos="fade-up">All deals within the Socium Trade platform are made using smart contracts. The terms of
        cooperation between traders and investors are recorded and algorithmically enforced with parameters like the
        size of lended funds, lending period, work conditions, trader’s reward, fines for contract violation etc.
      </div>
    </div>
  </div>
</section>

