<section class="section section-traders-profiles" data-midnight="both">
  <div class="container">
    <div class="section-text section-traders-profiles_name">
      <div class="title">
        <h2 >
          <span data-aos="fade" class="slide-bg aos-init aos-animate">Profiles</span>
          </h2>
      </div>
      <div class="text">
        <p data-aos="fade-up">To start working on the Socium Trade platform, you have to create a profile and specify information about
          yourself. The profile also reflects your experience, skills, carried out projects, personal information, as
          well as social activity and information posted by you.
         </p>
        <p data-aos="fade-up">
          Through your profile, you can open access to your strategies, portfolio statistics, analytics etc. The
          information contained in your profile helps you to build your brand and attract more investors and
          followers.
        </p>
      </div>
    </div>
  </div>
  <div class="section-traders-profiles_img" data-aos="fade-left" data-aos-duration="300">
    <img src="images/traders/profiles.png" alt="">
  </div>
</section>

