<section class="section section-traders-includes" data-midnight="both">
  <div class="container">
    <div class="section-text section-traders-includes_text">
      <div class="title">
        <h2>
          <span data-aos="fade" class="slide-bg aos-init aos-animate">Socium Trade is the</span>
          <span data-aos="fade" class="slide-bg dark aos-init aos-animate">perfect hub for traders</span>
        </h2>
      </div>
      <div class="text" data-aos="fade-up">Socium Trade is the perfect hub for traders who do not
        want to share their profits with a trading house or an asset management firm. Our platform will allow traders to
        build professional reputation, join in trading consortiums, and employ comprehensive analytical tools.
      </div>
    </div>

  </div>
  <div class="section-traders-includes_info" data-aos="fade-left" data-aos-duration="300">
    <div class="title">
      <h2>Socium Trade includes:</h2>
    </div>
    <div class="section-traders-includes_info_box">
      <div class="section-traders-includes_info_box_item">
        <div class="section-traders-includes_info_box_item_items">
          <div class="box-icon">
            <i class="icon icon-frendly"></i>
          </div>
          <div class="text">User-friendly interface</div>
        </div>
        <div class="section-traders-includes_info_box_item_items">
          <div class="box-icon">
            <i class="icon icon-analitics"></i>
          </div>
          <div class="text">Comprehensive analytics suite</div>
        </div>
        <div class="section-traders-includes_info_box_item_items">
          <div class="box-icon">
            <i class="icon icon-INVESTORS"></i>
          </div>
          <div class="text">Opportunity to raise capital directly from investors</div>
        </div>
        <div class="section-traders-includes_info_box_item_items">
          <div class="box-icon">
            <i class="icon icon-INVESTORS1"></i>
          </div>
          <div class="text">Consortiums for collective fund management</div>
        </div>
        <div class="section-traders-includes_info_box_item_items">
          <div class="box-icon">
            <i class="icon icon-terms"></i>
          </div>
          <div class="text">User-set terms for commissions and fees</div>
        </div>
      </div>
      <div class="section-traders-includes_info_box_item">
        <div class="section-traders-includes_info_box_item_items">
          <div class="box-icon">
            <i class="icon icon-reputation"></i>
          </div>
          <div class="text">Tools to build professional reputation</div>
        </div>
        <div class="section-traders-includes_info_box_item_items">
          <div class="box-icon">
            <i class="icon icon-profit"></i>
          </div>
          <div class="text">Higher profit margins</div>
        </div>
        <div class="section-traders-includes_info_box_item_items">
          <div class="box-icon">
            <i class="icon icon-liquidity"></i>
          </div>
          <div class="text">High-liquidity crypto exchange</div>
        </div>
        <div class="section-traders-includes_info_box_item_items">
          <div class="box-icon">
            <i class="icon icon-asset"></i>
          </div>
          <div class="text">Multi-asset capabilities</div>
        </div>
      </div>
    </div>
  </div>
</section>

