<section class="section section-traders-consortium" data-midnight="dark">
  <div class="container">
    <div class="section-text section-traders-consortium_name"  data-aos="fade-right" data-aos-duration="300">
      <div class="title">
        <h2>Consortiums</h2>
      </div>
      <div class="fraze">
        Meet the innovative trading solution from Socium Trade — consortium
      </div>
    </div>
    <div class="section-text section-traders-consortium_text">
      <div class="box-icon">
        <i class="icon icon-consortiums"></i>
      </div>
      <div class="text" data-aos="fade-up">It is an association of several traders for joint capital management. Consortiums help to employ
        comprehensive trading strategies and diversify risks. Besides, in these associations, the trading process can
        take place 24/7 as asset management is distributed between traders from different continents. All agreements
        between the sides in consortiums are powered by smart contracts, which enforces their fulfilment.
      </div>
    </div>
  </div>
</section>

