<section class="section section-traders-management" data-midnight="dark">
  <div class="container">
    <div class="section-text section-traders-management_img" data-aos="fade-right" data-aos-duration="300">
      <img src="images/traders/Portfolio.png" alt="">
    </div>
    <div class="section-text section-traders-management_text">
      <div class="title">
        <h2>
          <span data-aos="fade" class="slide-bg aos-init aos-animate">Portfolio creation</span> <br/>
          <span data-aos="fade" class="slide-bg dark aos-init aos-animate">and management</span>
        </h2>

      </div>
      <div class="text" data-aos="fade-up">Socium Trade provides traders with the necessary infrastructure for capital attraction an
        management.
      </div>
      <div class="fraze" data-aos="fade-up">
        To ease the management of several portfolios, Socium Trade introduced a multifunctional management suite.
      </div>
      <div class="text" data-aos="fade-up">This suite gives traders necessary statistics and reports in the form of tables and charts and
        enables users to monitor their transaction history. This way, traders can assess their results and make timely
        and informed management decisions.
      </div>
    </div>

  </div>
</section>

