<section class="section section-traders-capital" data-midnight="dark">
  <div class="container">
    <div class="section-text section-traders-capital_img" data-aos="fade-right" data-aos-duration="300">
      <img src="images/traders/Capital_procurement.png" alt="">
    </div>
    <div class="section-text section-traders-capital_text">
      <div class="title">
        <h2>
          <span data-aos="fade" class="slide-bg aos-init aos-animate">Capital procurement</span>
        </h2>
      </div>
      <div class="text"  data-aos="fade-up">Traders build portfolio and then attract funds to have the necessary capital to successfully
        execute their strategies. Procuring investment capital either directly or as part of a trading consortium
        enables traders to take part in complex diversified investment strategies that otherwise, would be impossible to
        realize.
      </div>
      <div class="fraze"  data-aos="fade-up">
        For those with a higher appetite for risk, there is the loan market where traders can negotiate favorable terms
        without going through and paying intermediaries.
      </div>
    </div>
  </div>
</section>

