    {% include "blocks/footer/_footer.html" %}
</div>
<!--<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>-->
<script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
<script src="https://cdn.rawgit.com/michalsnik/aos/2.1.1/dist/aos.js"></script>
<script src="js/queryloader2.min.js"></script>
<script src="js/slick.min.js"></script>
<!--<script src="js/midnight.jquery.min.js"></script>-->
<script src="js/modal.js"></script>
<script src="js/dropdown.js"></script>
<script src="js/script.js"></script>
<script src="lottie/lottie.min.js"></script>
<script src="lottie/data.js"></script>
</body>
</html>
