<section class="section section-page-head" style="background-image: url(images/bg-products.jpg)">
    <div class="container">
        <h1>
            <span data-aos="fade" class="slide-bg" data-aos-delay="300">Tools offered by our ecosystem</span>
        </h1>
    </div>
</section>

