<section class="section section-page-content" data-midnight="dark">
    <div class="container">
        <div class="section-text section-page-content-text long">
            <div class="title">
                <h2>It will be later</h2>
            </div>
        </div>
    </div>
</section>

