<section class="section section-products">
    <div class="container">
            <div class="section-products-item" data-aos="fade-up">
                <div class="title">
                    <img src="images/products/product-exchange.svg" alt="">
                    <h2>Exchange</h2>
                </div>
                <div class="text">
                    We are developing a highly-efficient, multifunctional, and safe exchange. Try our exchange to fully enjoy all of its advantages.
                </div>
                <div class="more">
                    <a class="link link-path" data-toggle="modal" data-target="#product">Learn more</a>
                </div>
            </div>
            <div class="section-products-item" data-aos="fade-up" data-aos-delay="200">
                <div class="title">
                    <img src="images/products/product-lend.svg" alt="">
                    <h2>Socium Lend</h2>
                </div>
                <div class="text">
                    Great instrument for those who have an immediate need for fiat funds,
                    and those who want to profit from being on the other side of the trade.
                </div>
                <div class="more">
                    <a class="link link-path" data-toggle="modal" data-target="#product">Learn more</a>
                </div>
            </div>
            <div class="section-products-item" data-aos="fade-up" data-aos-delay="400">
                <div class="title">
                    <img src="images/products/product-gift.svg" alt="">
                    <h2>Socium Gift</h2>
                </div>
                <div class="text">
                    To all who want to make an original, modern, and valuable present, Socium Gift gives an opportunity to create a gift card with crypto assets.
                </div>
                <div class="more">
                    <a class="link link-path" data-toggle="modal" data-target="#product">Learn more</a>
                </div>
            </div>
            <div class="section-products-item" data-aos="fade-up" data-aos-delay="600">
                <div class="title">
                    <img src="images/products/product-gift.svg" alt="">
                    <h2>Socium Chat</h2>
                </div>
                <div class="text">
                    Socium Chat is not an ordinary chat but a part of the Socium ecosystem developed for convenient and efficient interaction between participants of the trading process.
                </div>
                <div class="more">
                    <a class="link link-path" data-toggle="modal" data-target="#product">Learn more</a>
                </div>
            </div>
    </div>
</section>