<section class="section section-for" data-midnight="dark">
    <div class="container">
        <div class="section-for-item" data-aos="fade-right" data-aos-delay="100">
            <div class="section-for-item-image">
                <img src="images/for/pictraders.svg" alt="">

            </div>
            <div class="section-for-item-text">
                <div class="section-for-item-text-content">
                    <div class="title"><h2>For Traders</h2></div>
                    <div class="text">
                        SociumTrade enables traders to attract capital for management and provides them with
                        all of the necessary instruments to execute successful strategies
                    </div>
                    <div class="more"><a href="traders.html" class="link link-more">Learn more</a></div>
                </div>
            </div>
        </div>
        <div class="section-for-item" data-aos="fade-left" data-aos-delay="300">
            <div class="section-for-item-image">
                <img src="images/for/picinvestor.svg" alt="">

            </div>
            <div class="section-for-item-text">
                <div class="section-for-item-text-content">
                    <div class="title"><h2>For Investors</h2></div>
                    <div class="text">
                        Socium Trade enables investors to search through different portfolios and assess traders, their strategies and performance and then make a decision on who to trust with their money.
                    </div>
                    <div class="more"><a href="investors.html" class="link link-more">Learn more</a></div>
                </div>
            </div>

        </div>
    </div>
</section>