<section class="section section-intro-point" data-midnight="dark">
    <div class="container">
        <div class="section-intro-point-item">
            <div class="icon"><img src="images/intro/enjoy-margin.svg" alt=""></div>
            <div class="title" data-aos="fade-up"><h4>Enjoy Higher Margins</h4></div>
            <div class="text" data-aos="fade-up" data-aos-delay="100">
                Smart contracts replace brick-and-mortar intermediaries, so traders and investor do not have
                to share their profits with third parties
            </div>
        </div>
        <div class="section-intro-point-item">
            <div class="icon"><img src="images/intro/confidence.svg" alt=""></div>
            <div class="title" data-aos="fade-up" data-aos-delay="300"><h4>Engage with Confidence</h4></div>
            <div class="text" data-aos="fade-up" data-aos-delay="400">
                Strict KYC/AML protocols, peer-to-peer review and endorsements, and blockchain safeguards ensure the safety and security of all p2p interactions.
            </div>
        </div>
        <div class="section-intro-point-item">
            <div class="icon"><img src="images/intro/union.svg" alt=""></div>
            <div class="title" data-aos="fade-up" data-aos-delay="600"><h4>Unite for Profit</h4></div>
            <div class="text" data-aos="fade-up" data-aos-delay="700">
                Traders can join trading consortiums to collectively manage assets, and investors can form investment pools to optimize capital management.
            </div>
        </div>
        <div class="section-intro-point-item">
            <div class="icon"><img src="images/intro/controlfinance.svg" alt=""></div>
            <div class="title" data-aos="fade-up" data-aos-delay="900"><h4>Control Your Finances</h4></div>
            <div class="text" data-aos="fade-up" data-aos-delay="1000">
                You hold your funds. Our HEX infrastructure ensures that you can always make deposits, withdrawals and cancellations - no matter what.
            </div>
        </div>
    </div>
</section>