<section class="section section-point for" data-midnight="dark">
    <div class="section-point-list">
        <div class="section-point-item">
            <div class="section-point-item-content">
                <div class="icon"><img src="images/point/management-ico.svg" alt=""></div>
                <div class="title" data-aos="fade-up"><h3>Active management</h3></div>
                <div class="text" data-aos="fade-up" data-aos-delay="100">
                    Investors know exactly who and how manages their money. The process excludes collusion risks and volatility caused by copy-trading
                </div>
            </div>
        </div>
        <div class="section-point-item">
            <div class="section-point-item-content">
                <div class="icon"><img src="images/point/consorcium-ico.svg" alt=""></div>
                <div class="title" data-aos="fade-up" data-aos-delay="300"><h3>Consortiums and pools</h3></div>
                <div class="text" data-aos="fade-up" data-aos-delay="400">
                    Traders can create consortiums for joint capital management, while investors can form pools
                    to consolidate capital and ease its management
                </div>
            </div>
        </div>
        <div class="section-point-item">
            <div class="section-point-item-content">
                <div class="icon"><img src="images/point/margins-ico.svg" alt=""></div>
                <div class="title" data-aos="fade-up" data-aos-delay="600"><h3>Margins and loans</h3></div>
                <div class="text" data-aos="fade-up" data-aos-delay="700">
                    Our services allow investors who lack time or experience for direct market interaction to give their capital on loan to other market participants
                </div>
            </div>
        </div>
    </div>
</section>