<section class="section section-point" data-midnight="dark">
    <div class="section-point-list">
        <div class="section-point-item">
            <div class="section-point-item-content">
                <div class="icon"><img src="images/point/p2p-ico.svg" alt=""></div>
                <div class="title" data-aos="fade-up"><h3>Person-to-Person Investing</h3></div>
                <div class="text" data-aos="fade-up" data-aos-delay="100">
                    Traders offer custom terms and investors allocate funds to real people, instead of anonymous avatars.
                </div>
            </div>
        </div>
        <div class="section-point-item">
            <div class="section-point-item-content">
                <div class="icon"><img src="images/point/security-ico.svg" alt=""></div>
                <div class="title" data-aos="fade-up" data-aos-delay="300"><h3>Security of funds</h3></div>
                <div class="text" data-aos="fade-up" data-aos-delay="400">
                    All interaction between traders and investors
                    are governed by smart contracts.
                    Every transaction is recorded on the blockchain and is transparent and auditable.
                </div>
            </div>
        </div>
        <div class="section-point-item">
            <div class="section-point-item-content">
                <div class="icon"><img src="images/point/verification-ico.svg" alt=""></div>
                <div class="title" data-aos="fade-up" data-aos-delay="600"><h3>User verification</h3></div>
                <div class="text" data-aos="fade-up" data-aos-delay="700">
                    In addition to the strictest KYC protocols,
                    our platform enables person-to-person reviews and endorsements to guarantee the identity
                    and credibility of every participant.
                </div>
            </div>
        </div>
    </div>
</section>