<section class="section section-smart" data-midnight="both">
    <div class="section-smart-bg" data-aos="fade-left" data-aos-duration="300"></div>
    <div class="container">
        <div class="section-text section-smart-text">
            <div class="title">
                <h2>
                    <span data-aos="fade" class="slide-bg">Smart Contracts</span><br/>
                    <span data-aos="fade" class="slide-bg dark">for Smart Investments</span>
                </h2>
            </div>
            <div class="fraze" data-aos="fade-up" >
                We are offering a safe and secure platform for traders
                and investors to come together and profit from the market
            </div>
            <div class="text" data-aos="fade-up">
                The user friendly environment makes it easy for participants to bypass intermediaries and interact directly with one another. SociumTrade gives power back to the individual, enabling traders to make a name for themselves and investors to take charge of their financial future
            </div>
            <div class="more" data-aos="fade-up"><a href="investors.html" class="link link-more">Learn more</a></div>
        </div>
        <div class="section-text section-smart-image" data-aos="fade-left" data-aos-duration="300">

            <div class="section-smart-image-img">
                <div class="section-smart-image-img-svg"><div id="smart"></div></div>
                <!--img src="images/SCHEME.png" alt=""-->
                <!--<div class="text text-trader" >Trader </div>-->
                <!--<div class="text text-investor" >Investor </div>-->
                <!--<div class="text text-smart" >Smart contract </div>-->
                <!--<div class="text text-market" >Market </div>-->
            </div>
        </div>
    </div>
</section>