<section class="section section-subscribe" data-midnight="dark">
    <div class="container">
        <div class="section-text section-subscribe-text">
            <div class="image"><img src="images/email.svg" alt=""></div>
            <div class="title"><h2><span data-aos="fade" class="slide-bg">Subscribe to our news!</span></h2></div>
            <div class="text" data-aos="fade-up">We will write to you when we launch the platform,
                that you would be among the first!</div>
        </div>
        <div class="section-subscribe-form"  data-aos="fade-left" data-aos-duration="300">
            {% include "blocks/subscribe/_form.html" %}
        </div>
    </div>
</section>