<section class="section section-system" data-midnight="dark">
    <div class="section-system-bg" data-aos="fade-right" data-aos-duration="300"></div>
    <div class="container">
        <div class="section-system-image" data-aos="fade-right" data-aos-duration="300">
            <img src="images/bitmap.png" alt="">
        </div>
        <div class="section-text section-system-text">
            <div class="title">
                <h2>
                    <span data-aos="fade" class="slide-bg">Security you need.</span><br/>
                    <span data-aos="fade" class="slide-bg dark">Services you deserve.</span>
                </h2>
            </div>
            <div class="fraze" data-aos="fade-up">
                Sociumtrade — complete trading ecosystem
            </div>
            <div class="text" data-aos="fade-up">
                Socium Trade is not only the best platform for social development,
                but also a number of additional tools and add-ins linked to the general concept, including with crypto assets. In addition to the main trading platform, we provide a trading pawnshop for crypto assets, the ability
                to make gift cards of tokens, a special chat for traders and other instruments
            </div>
            <div class="more" data-aos="fade-up"><a class="link link-path"><i class="icon icon-grow icon-left"></i> A growing ecosystem</a></div>
        </div>
    </div>
</section>