<section class="section section-tools">
    <div class="section-tools-text">
        <div class="container">
            <h2 data-aos="fade-up">The most avdanced tools</h2>
            <div class="text" data-aos="fade-up" data-aos-delay="100">
                <p>
                    SociumTrade offers a convenient management suite for traders to manage their portfolios and for investors to manage their investments.
                </p>
                <p>Traders will be able to use a wide array of graphing and analytics tools.</p>
            </div>
        </div>
    </div>
    <div class="section-tools-list" data-aos="fade-up" data-aos-delay="200">
        <div class="section-tools-item">
            <div class="icon"><img src="images/tools/candlestick.svg" alt=""></div>
            <div class="title">Candlestick charts</div>
        </div>
        <div class="section-tools-item">
            <div class="icon"><img src="images/tools/fibonacci.svg" alt=""></div>
            <div class="title">Fibonacci channels</div>
        </div>
        <div class="section-tools-item">
            <div class="icon"><img src="images/tools/notes.svg" alt=""></div>
            <div class="title">Custom notes</div>
        </div>
        <div class="section-tools-item">
            <div class="icon"><img src="images/tools/chat.svg" alt=""></div>
            <div class="title">Smart chat</div>
        </div>
    </div>
    <div class="section-tools-image" data-aos="fade-up" data-aos-delay="300">
        <div class="container">
            <img src="images/exchange.png" alt="">
        </div>
    </div>
</section>

