<section class="section section-investor-point" data-midnight="dark">
    <div class="container">
        <div class="section-investor-point-item">
            <div class="section-text">
                <div class="image">
                    <img src="images/investors/investprocess.svg" alt="">
                </div>
                <div class="title">
                    <h2>
                        <span data-aos="fade" class="slide-bg aos-init aos-animate">Investment process</span>
                    </h2>
                </div>
                <div class="fraze"  data-aos="fade-up">
                    Socium Trade gathers and stores all information on its users, thus enabling investors to find traders by set criteria.
                </div>
                <div class="text"  data-aos="fade-up">
                    Such as a trader’s rating, expertise, total number of funds in management, percentage of a trader’s own funds in his/her management, risk rate, profitability etc.
                </div>
            </div>
        </div>
        <div class="section-investor-point-item">
            <div class="section-text">
                <div class="image">
                    <img src="images/investors/copytrading.svg" alt="">
                </div>
                <div class="title">
                    <h2>
                        <span data-aos="fade" class="slide-bg aos-init aos-animate">Copy trading</span>
                    </h2>
                </div>
                <div class="fraze"  data-aos="fade-up">
                    Investors can copy an end-of-period asset allocation
                    of a given trader’s portfolio.
                </div>
                <div class="text"  data-aos="fade-up">
                    With the advanced instrument kit, investors can decide on the most suitable copying strategy and arrange their portfolio (or proportion of it) according to the portfolio of a  selected trader(s).
                </div>
            </div>
        </div>
    </div>
</section>

