<section class="section section-investor-about" data-midnight="both">
    <div class="container">
        <div class="section-investor-about-text">
            <div class="section-text">
                <div class="title">
                    <h2>
                        <span data-aos="fade" class="slide-bg aos-init aos-animate">Profiles</span>
                    </h2>
                </div>
                <div class="text">
                  <p data-aos="fade-up">
                      Users of Socium Trades have to create an account and specify information about themselves in the profile, which enables them to post and share personal information and professional developments.
                  </p>
                  <p data-aos="fade-up">
                      Investors indicate their experience, interests, and other relevant information in their profiles, while traders’ profiles reflect their strategies, expertise, performance score etc.
                  </p>
                  <p data-aos="fade-up">
                      Platform users can see what approaches a trader uses, with whom an investor trusts his/her capital, and how funds are managed. Evaluating the information presented in profiles, investors can pick a trader or trading strategy that suits their investment plans best.
                  </p>
                </div>
            </div>
        </div>
        <div class="section-investor-about-image" data-aos="fade-left" data-aos-duration="200">
            <img src="images/investors/profiles.png" alt="">
        </div>
    </div>
    <div class="container">
        <div class="section-investor-about-image" data-aos="fade-right" data-aos-duration="200">
            <img src="images/investors/pool.png" alt="">
        </div>
        <div class="section-investor-about-text">
            <div class="section-text">
                <div class="title">
                    <h2>
                        <span data-aos="fade" class="slide-bg aos-init aos-animate">Pools</span>
                    </h2>
                </div>
                <div class="text"  data-aos="fade-up">
                    Socium Trades enables investors to join into pools. These associations allows several participants to give their financial resources into management of another pool participant under the negotiated terms. The head investor, who also allocates his/her capital to the pool, manages all the funds in the pool and usually receives a certain reward for it. The conditions of participation, funds allocation, work rules etc are written in smart contracts.
                </div>
                <div class="fraze"  data-aos="fade-up">
                    Pools enables investors to put in their financial resources safely and with minimum efforts and earn passive income.
                </div>
            </div>
        </div>
    </div>
</section>

