<section class="section section-investor-smart" data-midnight="dark">
    <div class="container">

        <div class="section-investor-smart_content">
            <div class="section-investor-smart-image"  >
                <img src="images/investors/smartcontract-image.svg" alt="" data-aos="fade-right" data-aos-duration="200">
            </div>
            <div class="section-investor-smart-text">
                <div class="section-text">
                    <div class="title">
                        <h2>
                            <span data-aos="fade" class="slide-bg aos-init aos-animate">Investment terms – </span>
                            <span data-aos="fade" class="slide-bg dark aos-init aos-animate">smart contracts</span>
                        </h2>
                    </div>
                    <div class="text"  data-aos="fade-up">
                        All agreements between users on the Socium Trade platform are concluded via smart contracts, which act as intermediaries excluding the human factor and safeguarding investors’ funds.
                    </div>
                    <div class="fraze"  data-aos="fade-up">
                        The capital is stored in smart contracts outside the exchange
                        so no malfunction will harm funds.
                    </div>
                    <div class="text"  data-aos="fade-up">
                        Besides, smart contracts clearly determine the work field of a trader keeping him/her within the set terms and preventing him/her from the agreement violations
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

