<section class="section section-page-content" data-midnight="both">
    <div class="container">
        <div class="section-text section-page-content-text">
            <div class="title">
                <h2>
                    <span data-aos="fade" class="slide-bg aos-init aos-animate">Investing/trader management</span>
                </h2>
            </div>
            <div class="text">
                <p data-aos="fade-up">
                Socium Trade provides investors with an unparalleled opportunity to asses traders and choose the best person/consortium to put funds in or to employ a strategy of a certain trader for investments. Investors can both implement several strategies for different investment portfolios and distribute their resources between a number of traders.
                </p>
                <p data-aos="fade-up">
                The Socium Trade management suite gives investors comprehensive information on chosen strategies/performance of some trader to estimate efficiency and make rational management decisions.
                </p>
            </div>
        </div>
        <div class="section-text section-page-content-fraze" data-aos="fade-left" data-aos-duration="200">
            <div class="section-page-content-fraze-bg">
                <div class="text">
                    Our platform reflects performance of every trader so an investor
                    can easily choose a trader to allocate funds in.
                </div>
                <div class="fraze">
                    We guarantee no intermediaries, no extra fees, and low transaction costs.
                </div>
            </div>
        </div>
    </div>
</section>

