<div class="cur-index">
    <div class="autoplay2" dir="rtl">
        <div class="cur-index-item">
            <div class="cur-index-item-info"><div class="name"> Bank of America Corporation ank Corporation</div>12893.24</div>
            <!--<div class="cur-index-item-chart"><div class="chart"><img src="images/chart.jpg" alt=""></div></div>-->
            <div class="cur-index-item-percent green">+1.38%<div class="cur">+1283.90</div></div>
            <div class="cur-index-item-tooltip">
                Bank of America Corporation ank Corporation
            </div>
        </div>
        <div class="cur-index-item">
            <div class="cur-index-item-info"><div class="name">Bank of America Corporation</div>12893.24</div>
            <!--<div class="cur-index-item-chart"><div class="chart"><img src="images/chart.jpg" alt=""></div></div>-->
            <div class="cur-index-item-percent red">-12.38%<div class="cur">-1283.90</div></div>
            <div class="cur-index-item-tooltip">
                Bank of America Corporation ank Corporation
            </div>
        </div>
        <div class="cur-index-item">
            <div class="cur-index-item-info"><div class="name">iShares Silver Trust</div>12893.24</div>
            <!--<div class="cur-index-item-chart"><div class="chart"><img src="images/chart.jpg" alt=""></div></div>-->
            <div class="cur-index-item-percent green">+1.38%<div class="cur">+1283.90</div></div>
            <div class="cur-index-item-tooltip">
                iShares Silver Trust
            </div>
        </div>
        <div class="cur-index-item">
            <div class="cur-index-item-info"><div class="name"> Bank of America Corporation ank Corporation</div>12893.24</div>
            <!--<div class="cur-index-item-chart"><div class="chart"><img src="images/chart.jpg" alt=""></div></div>-->
            <div class="cur-index-item-percent green">+1.38%<div class="cur">+1283.90</div></div>
            <div class="cur-index-item-tooltip">
                Bank of America Corporation ank Corporation
            </div>
        </div>
        <div class="cur-index-item">
            <div class="cur-index-item-info"><div class="name">Petroleo Brasileiro S.A.- Petrobras</div>12893.24</div>
            <!--<div class="cur-index-item-chart"><div class="chart"><img src="images/chart.jpg" alt=""></div></div>-->
            <div class="cur-index-item-percent red">-12.38%<div class="cur">-1283.90</div></div>
            <div class="cur-index-item-tooltip">
                Petroleo Brasileiro S.A.- Petrobras
            </div>
        </div>
        <div class="cur-index-item">
            <div class="cur-index-item-info"><div class="name">eBay Inc.</div>12893.24</div>
            <!--<div class="cur-index-item-chart"><div class="chart"><img src="images/chart.jpg" alt=""></div></div>-->
            <div class="cur-index-item-percent green">+1.38%<div class="cur">+1283.90</div></div>
            <div class="cur-index-item-tooltip">
                eBay Inc
            </div>
        </div>
        <div class="cur-index-item">
            <div class="cur-index-item-info"><div class="name">PayPal Holdings Inc.</div>12893.24</div>
            <!--<div class="cur-index-item-chart"><div class="chart"><img src="images/chart.jpg" alt=""></div></div>-->
            <div class="cur-index-item-percent red">-12.38%<div class="cur">-1283.90</div></div>
            <div class="cur-index-item-tooltip">
                PayPal Holdings Inc
            </div>
        </div>
        <div class="cur-index-item">
            <div class="cur-index-item-info"><div class="name">iShares Silver Trust</div>12893.24</div>
            <!--<div class="cur-index-item-chart"><div class="chart"><img src="images/chart.jpg" alt=""></div></div>-->
            <div class="cur-index-item-percent green">+1.38%<div class="cur">+1283.90</div></div>
            <div class="cur-index-item-tooltip">
                iShares Silver Trust
            </div>
        </div>
        <div class="cur-index-item">
            <div class="cur-index-item-info"><div class="name">Russell 2000</div>12893.24</div>
            <!--<div class="cur-index-item-chart"><div class="chart"><img src="images/chart.jpg" alt=""></div></div>-->
            <div class="cur-index-item-percent red">-12.38%<div class="cur">-1283.90</div></div>
            <div class="cur-index-item-tooltip">
                Russell
            </div>
        </div>
        <div class="cur-index-item">
            <div class="cur-index-item-info"><div class="name">Crude oil </div>12893.24</div>
            <!--<div class="cur-index-item-chart"><div class="chart"><img src="images/chart.jpg" alt=""></div></div>-->
            <div class="cur-index-item-percent green">+1.38%<div class="cur">+1283.90</div></div>
            <div class="cur-index-item-tooltip">
                Crude oil
            </div>
        </div>
        <div class="cur-index-item">
            <div class="cur-index-item-info"><div class="name">PayPal Holdings Inc.</div>12893.24</div>
            <!--<div class="cur-index-item-chart"><div class="chart"><img src="images/chart.jpg" alt=""></div></div>-->
            <div class="cur-index-item-percent red">-12.38%<div class="cur">-1283.90</div></div>
            <div class="cur-index-item-tooltip">
                PayPal Holdings Inc
            </div>
        </div>
        <div class="cur-index-item">
            <div class="cur-index-item-info"><div class="name">Silver</div>12893.24</div>
            <!--<div class="cur-index-item-chart"><div class="chart"><img src="images/chart.jpg" alt=""></div></div>-->
            <div class="cur-index-item-percent green">+1.38%<div class="cur">+1283.90</div></div>
            <div class="cur-index-item-tooltip">
                Silver
            </div>
        </div>
        <div class="cur-index-item">
            <div class="cur-index-item-info"><div class="name">Gold</div>12893.24</div>
            <!--<div class="cur-index-item-chart"><div class="chart"><img src="images/chart.jpg" alt=""></div></div>-->
            <div class="cur-index-item-percent red">-12.38%<div class="cur">-1283.90</div></div>
            <div class="cur-index-item-tooltip">
                Gold
            </div>
        </div>
    </div>
</div>