
<header class="header">
    <div class="container">
        <a href="index.html" class="header-logo"></a>
        <div class="header-nav">
            {% include "blocks/navigate/_nav.html" %}
            <a data-toggle="modal" data-target="#subscribe" class="btn btn-border"><span class="border"></span>Subscribe<span class="border"></span></a>
        </div>
        <a class="btn header-menu" data-toggle="modal" data-target="#menu"><span class="name">MENU</span><span class="name-open">Close</span><span class="menu-bar"><span class="icon-bar"></span><span class="icon-bar"></span></span></a>
    </div>
</header>