<section class="section section-page-head">
    <div class="container">
        <div class="section-page-head_title">
            <div class="info">
                <span class="info_item"><i class="icon icon-point-white"></i> Belarus, Minsk</span>
            </div>
            <h1 data-aos="fade" class="slide-bg" data-aos-delay="300">General producer</h1>
        </div>
    </div>
</section>

