<section class="section section-careers">
    <div class="container">
        <h2>Product</h2>
        <div class="section-careers-list">
            <a class="section-careers-list_item" href="career-position.html">
                <div class="name">
                    <h4>General producer</h4>
                </div>
                <div class="town">
                    <i class="icon icon-point"></i> Belarus, Minsk
                    <i class="icon icon-next"></i>
                </div>
            </a>
            <a class="section-careers-list_item" href="career-position.html">
                <div class="name">
                    <h4>General producer</h4>
                </div>
                <div class="town">
                    <i class="icon icon-point"></i> Belarus, Minsk
                    <i class="icon icon-next"></i>
                </div>
            </a>
        </div>
        <h2>Management</h2>
        <div class="section-careers-list">
            <a class="section-careers-list_item" href="career-position.html">
                <div class="name">
                    <h4>General producer</h4>
                </div>
                <div class="town">
                    <i class="icon icon-point"></i> Belarus, Minsk
                    <i class="icon icon-next"></i>
                </div>
            </a>
            <a class="section-careers-list_item" href="career-position.html">
                <div class="name">
                    <h4>General producer</h4>
                </div>
                <div class="town">
                    <i class="icon icon-point"></i> Belarus, Minsk
                    <i class="icon icon-next"></i>
                </div>
            </a>
        </div>
    </div>
</section>