<section class="section section-careers-position">
    <div class="container">
        <div class="section-careers-position-content_left">
            <div class="section-careers-position-content_text">
                <h2>Job Description</h2>
                <div class="text">
                    <p>
                        Socium Trade is a revolutionary social investment and trading platform that uses proprietary Blockchain
                        Technology to guarantee the reliability, safety, and security of all transactions on the network.
                    </p>
                </div>
            </div>
            <div class="section-careers-position-content_text">
                <h2>Job Description</h2>
                <div class="text">
                    <ul>
                        <li>Reliable information on participating traders</li>
                        <li>Full control of your money – even while traders trade on your behalf!</li>
                        <li>Everything you need to trade with trust</li>
                    </ul>
                </div>
            </div>
            <div class="section-careers-position-content_button">
                <a href="#" class="btn btn-full-blue">I'm interested</a>
                <div class="section-careers-position-content_social">
                    <a href="#">fb</a>
                    <a href="#">tw</a>
                    <a href="#">+</a>
                </div>
            </div>
        </div>
        <div class="section-careers-position-content_right">
            <a href="#" class="btn btn-full btn-full-blue">I'm interested</a>
            <h4>Share this job</h4>
            <div class="section-careers-position-content_social">
                <a href="#">fb</a>
                <a href="#">tw</a>
                <a href="#">+</a>
            </div>
            <h4>Other Jobs</h4>
            <div class="section-careers-position-other">
                <div class="town">Belarus, Minsk</div>
                <div class="name">Job Description</div>
            </div>
            <div class="section-careers-position-other">
                <div class="town">Belarus, Minsk</div>
                <div class="name">Job Description</div>
            </div>
        </div>
    </div>
</section>